/* Transparent Colours */

$trans-red: rgba(214, 59, 26, .9);	
$trans-turq: rgba(12, 164, 155, .9);	
$trans-green: rgba(64, 161, 66, .9);	
$trans-pink: rgba(255, 51, 102, .9);	
$trans-purple: rgba(130, 41, 128, .9);	
$trans-blue: rgba(28, 117, 188, .9);	
$trans-orange: rgba(247, 143, 30, .9);
$trans-navy: rgba(17, 17, 94, .9);
$trans-sun: rgba(240, 83, 50, .9);
$trans-lime: rgba(205, 214, 42, .9);
$trans-navy: rgba(33, 64, 154, .9);
$trans-black:rgba(0, 0, 0, 0.34);

/* Solid Colours */

$turq: #0ca49b;
$pink: #ff3366;
$yellow: #ffd238;
$purple: #822980;
$navy: #333399;
$orange: #f05332;
$blue: #1c75bc;
$green: #40a142;
$burntorange: #f7941e;
$red: #f05332;
$dark-gray: #b9b8bb;


/* Wire-frame colors */
$gray : #585858;
$gray_0 : #878787;
$gray_lite : #eeeeee;
$white : #ffffff;


/* new colors */
$black: #000000;
$dark_grey: #87898b;
$lite_grey: #b9b8bb;
$liter_grey: #e6e7e9;
$purple: #822980;
$burgundy: #c5215e;
$orange: #f05332;
$aqua: #0ca49b;
$hp_blue: #0096d6;
$forms_background: #f7f7f7;
