@font-face {
  font-family: 'HPIcons';
  src: url("/us/en/images/fonts/hp-icons-svg.svg");
  src: url("/us/en/images/fonts/hp-icons-eot.eot");
  src: url("/us/en/images/fonts/hp-icons-eot.eot?#iefix") format("embedded-opentype"),url("/us/en/images/fonts/hp-icons-ttf.ttf") format("truetype"),url("/us/en/images/fonts/hp-icons-woff.woff") format("woff"),url("/us/en/images/fonts/hp-icons-svg.svg?#HPIcons") format("svg");
  font-weight: normal;
  font-style: normal
}

.header .hf_logo:before,.header .shopping_icon:before,.header .searchSubmit,.header .search_icon:before,.header .searchClear:before,.header .searchClose:before,.header .top_menu_widget .top_m_widget:after,.header .top_menu_widget .top_m_widget:before,.footer .worldmap a.cselectorbtn:before,.footer .site_links a.ul_site_link_header .accordion-icn:before,.header .hf_menu.level1 > li > a:before,.header .hf_menu li.js_item > a:before,.ac_results_hf li a:after,.header .shop_widget .hf_close_btn:before,.footer .country_holder_mobile a.cs_region:after {
  font-family: 'HPIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.header .hf_logo:before {
  content: "\f000"
}

.header .shopping_icon:before {
  content: "\f050"
}

.header .searchClear:before,.header .searchClose:before,.footer .worldmap a.cselectorbtn:before,.header .shop_widget .hf_close_btn:before {
  content: "\f040"
}

.header .search_icon:before {
  content: "\f021"
}

.header .top_menu_widget .top_m_widget:after {
  content: "\f030"
}

.footer .site_links a.ul_site_link_header.open .accordion-icn:before {
  content: "\f061"
}

.footer .site_links a.ul_site_link_header .accordion-icn:before {
  content: "\f060"
}

.header.hf-not-fontface .hf_logo:before,.header.hf-not-fontface .shopping_icon:before,.header.hf-not-fontface .searchClear:before,.header.hf-not-fontface .searchClose:before,.footer.hf-not-fontface .worldmap a.cselectorbtn:before,.header.hf-not-fontface .shop_widget .hf_close_btn:before,.header.hf-not-fontface .search_icon:before,.header.hf-not-fontface .top_menu_widget .top_m_widget:after,.footer.hf-not-fontface .site_links a.ul_site_link_header.open .accordion-icn:before,.footer.hf-not-fontface .site_links a.ul_site_link_header .accordion-icn:before,.header,.footer {
  clear: both;
  width: 100%;
  font-size: 100%
}

.header a,.footer a {
  text-decoration: none
}

.footer a:visited {
  color: #5a5a5a
}

.header a:focus,.footer a:focus {
  outline: 1px dotted
}

.header ul,.footer ul {
  list-style-type: none
}

.header p,.footer p,.footer h2,.header ul,.footer ul {
  margin: 0;
  padding: 0
}

.footer h2 {
  font-size: 100%
}

.hf_clf:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden
}

.hf_clf {
  display: inline-block;
  display: block\9
}

html .hf_clf {
  display: block
}

* html .hf_clf {
  height: 1%
}

.header .screenReading,.footer .screenReading {
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  opacity: 0
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .header a.screenReading,.footer a.screenReading {
    font-size: 1px !important;
    position: static;
    max-width: 0
  }
}

.hidden {
  display: none;
  visibility: hidden
}

.hand {
  cursor: pointer
}

.header .hf_printable,.footer .hf_printable {
  display: none;
  visibility: hidden
}

.header {
  height: 72px;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #0096D6
}

.header_container {
  margin: 0 auto;
  font-size: 62.5%;
  width: 1000px
}

.footer_lang_container {
  background: white
}

.footer_lang_section {
  margin: 0 auto;
  padding: 17px 0 18px 0;
  width: 1000px
}

.footer_container {
  background-color: #f2f2f2;
  width: 100%
}

.header .hp_logo {
  float: left
}

.header .hp_logo a.hf_logo,.header .hp_logo a.hf_logo:visited {
  color: #fff;
  height: auto;
  width: 50px;
  display: block;
  margin: 10px 0 0 9px;
  font-size: 50px;
  line-height: 50px
}

.header .hp_logo a.hf_logo img {
  border: 0 none;
  display: none
}

*+html .header .hp_logo a.hf_logo {
  font-size: 0
}

*+html .header .hp_logo a.hf_logo img.hf_no_printable {
  display: block;
}

.header .hp_logo a.hf_logo {
  font-size: 0\0/ ;
}

.header .hp_logo a.hf_logo img.hf_no_printable {
  display: block\0/;
}

.header .hp_logo_pub {
  background-image: url(/us/en/images/i/header-footer/caas-hf-v3/hp-logo.gif)
}

.header .hp_logo_pr_pub {
  background-image: url(/us/en/images/i/header-footer/caas-hf-v3/hp-logo-pr.gif)
}

.header.hf-not-fontface .searchSubmit,.header.hf-not-fontface .search_icon,.header.hf-not-fontface .shopping_icon,.header.hf-not-fontface .top_menu_widget .top_m_widget,.header .top_corner,.header .left_corner,.worldmap .bottom_corner,.footer.hf-not-fontface .worldmap a.cselectorbtn,.header.hf-not-fontface .searchClear,.header.hf-not-fontface .searchClose,.footer .cselector_wrapper .right_corner,.header.hf-not-fontface .shop_widget .hf_close_btn,*+html .header .shopping_icon,*+html .header .searchClear,*+html .header .searchClose,*+html .footer .worldmap a.cselectorbtn {
  background-image: url(/us/en/images/i/header-footer/caas-hf-v3/s-hf-v3r.gif);
  background-repeat: no-repeat
}

.header .top_corner {
  background-position: -98px -1px;
  width: 17px;
  height: 12px;
  position: absolute;
  top: -12px
}

.header .left_corner {
  background-position: -127px -26px;
  height: 17px;
  width: 17px;
  left: -11px;
  position: absolute;
  top: 25px
}

#widget_menu {
  width: auto
}

.hdr_widgets,.hdr_widgets .hdr_buttons {
  float: right
}

.hdr_widgets {
  width: 260px;
  position: relative;
  z-index: 10;
  margin-right: 18px
}

.hdr_widgets .search_block {
  float: left;
  margin: 23px 0 0
}

.header .search_container {
  background: white
}

.header .search_container_inactive {
  position: absolute;
  left: 0;
}

.header .search_container_active {
  position: absolute;
  border: 2px solid #5A5A5A;
  z-index: 21;
  right: -2px;
  top: 21px
}

.header .search_container_active,.header .wm_no_widgets .search_container_active {
  width: 260px
}

.header .search_container_active .searchBox {
  width: 198px
}

.header .searchBox,.header .searchSubmit {
  border: 0;
  float: left;
  margin: 0;
  padding: 0;
  height: 25px
}

.header .searchBox {
  font-size: 140%;
  height: 25px;
  line-height: 24px;
  padding: 0 23px 0 10px;
  margin: 0;
  width: 163px;
  color: #767676
}

@media \0screen {
  .header .searchBox {
    padding: 0 23px 0 10px
  }
}

@media screen and (min-width: 0\0) {
  .header .searchBox {
    padding-right:0;
    margin-right: 23px
  }
}

.header .searchBox {
  padding-right: 0\9;
  margin-right: 23px\9
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .header .searchBox {
    padding: 0 23px 0 10px
  }
}

.header .searchBox::-ms-clear {
  display: none
}

.header .wm_no_widgets .searchBox,.header .wm_no_widgets .search_container_active .searchBox {
  width: 200px
}

.header .wm_no_widgets .search_container_active .searchSubmit {
  float: right
}

.header .searchBox:focus {
  color: #000
}

.header .searchSubmit {
  background-color: #FFFFFF;
  height: 25px;
  width: 27px;
  padding-right: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 17px;
  color: #0095d9
}

.header .searchClear {
  display: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 4px;
  right: 33px;
  background-position: -171px -12px;
  font-size: 17px;
  line-height: 17px;
  color: #CCC
}

body .hf_ac_offscreen_text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  z-index: -1000;
  top: -1000px
}

.hdr_widgets .nav_buttons {
  margin: 23px 0 0 0
}

.hdr_widgets li.nav_button {
  position: relative;
  float: left;
  display: inline-block;
  _display: inline;
  _zoom: 1;
  z-index: 1
}

.hdr_widgets img {
  border: 0 none
}

.header li.shopping_widget {
  padding-left: 12px;
  _display: inline
}

.header .shop_widget {
  display: none;
  height: auto;
  position: absolute;
  color: #666;
  background: #FFF;
  border: 2px solid #CCCCCC;
  border-bottom: 3px solid #0096D6;
  top: 40px;
  width: 579px;
  right: 0
}

.header .shop_widget .widget_content {
  margin: 16px 20px;
  color: #000000;
  line-height: normal;
  font-size: 140%;
  background: rgba(0,0,0,0)
}

.header .shop_widget .top_corner {
  right: 0
}

.header .shop_widget .left_corner {
  display: none
}

.header .shop_widget .hf_close_btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  line-height: 37px;
  height: 37px;
  background-position: -90px -50px;
  color: #626262;
  font-size: 17px;
  text-align: center
}

.header .shop_widget .hf_close_btn:hover,.header .shop_widget .hf_close_btn:active {
  background-position: -126px -50px;
  color: #0197D7;
  font-size: 17px;
  text-decoration: none
}

.header .shop_widget.hf_loading {
  width: 300px
}

.header .shop_widget.hf_loading .wait_class {
  position: static;
  display: block;
  width: 100%;
  height: 100%
}

.header .shop_widget.hf_loading .wait_class div {
  min-height: 92px;
  height: 100%;
  background-position: 50%
}

.header .shop_widget .shadow_cover_top,.header .shop_widget .shadow_cover_bottom {
  display: none;
  position: static !important;
  margin: 0;
  height: 32px;
  width: 100%
}

.header .shopping_icon,.header .search_icon {
  width: 25px;
  height: 25px;
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 25px
}

.header .shopping_icon {
  background-position: -45px 0
}

.header .search_icon,.header .search_icon {
  color: white
}

.header .shopping_widget .item_count {
  position: absolute;
  background-color: #FF0000;
  color: #FFF;
  font-size: 100%;
  font-weight: bold;
  border-radius: 0 3px;
  -moz-border-radius: 0 3px;
  padding: 0;
  line-height: 14px;
  top: -2px;
  right: -3px;
  display: none
}

.header .shopping_widget .item_count.hf_cart_not_empty {
  padding: 0 3px;
  display: inline-block;
  *display: inline
}

@media \0screen {
  .header .shopping_widget .item_count {
    padding-bottom: 1px;
    line-height: 13px
  }
}

.footer {
  width: 100%;
  margin: 0;
  background: #f2f2f2;
  zoom:1}

.footer .footer_legal_block {
  text-align: center;
  color: #5a5a5a;
  font-size: 87.5%
}

.footer .footer_legal_block a,.footer .footer_legal_block a:link,.footer .footer_legal_block a:visited {
  color: #5a5a5a
}

.footer .footer_legal_block a:hover {
  text-decoration: underline
}

.footer .privacy_links {
  margin: 0 auto;
  padding-top: 4px;
  text-align: center;
  font-size: 100%;
  color: #5a5a5a
}

.footer .privacy_links a,.footer .privacy_links a:link,.footer .privacy_links a:visited,.footer .privacy_links a:active {
  color: #5a5a5a
}

.footer .privacy_links li {
  display: inline-block
}

.footer .privacy_links .lstchild span {
  display: none
}

.footer .privacy_links a:hover {
  text-decoration: underline
}

.footer .hf_separ {
  color: #767676;
  font-size: 100%;
  padding: 0 8px;
  display: inline-block
}

.footer .home_link .hf_separ {
  font-size: 87.5%
}

div.visible {
  display: block;
  visibility: visible
}

.footer .world_map {
  margin: 0 auto;
  *float: left;
  width: 0
}

.footer .cs-container {
  padding-left: 18px;
  position: relative
}

.footer .cselector_wrapper {
  *position: static;
  z-index: 100
}

.footer .worldmap_wrapper {
  position: absolute;
  left: 18px
}

.footer .cntr_map,.footer .cselector {
  float: left;
  _display: inline;
  _zoom: 1
}

.footer .cselector_wrapper a,.footer .cselector_wrapper a:link {
  color: #000
}

.footer .cselector_wrapper,.footer .worldmap_wrapper {
  *display: inline;
  *zoom:1}

.footer .cselector span.map {
  background: transparent url(/us/en/images/i/common/i-pre-lg-hpe.gif) no-repeat
}

.footer a.cselector:hover .selectedCountry {
  text-decoration: underline
}

.footer .cselector span {
  display: inline-block;
  cursor: pointer;
  font-size: 87.5%;
  color: #5A5A5A
}

.footer .cselector span.flag {
  width: 16px;
  padding: 0 8px 0 0;
  background: url(/us/en/images/i/footer/flag.png) transparent no-repeat left center
}

.footer .hf-worldmap .cselector span.flag {
  width: 35px;
  height: 24px;
  background-image: url(/us/en/images/i/footer/world-map-hpe.gif)
}

.footer .hf-worldmap .cselector span,.footer .hf-worldmap .home_link {
  line-height: 24px
}

.footer .hf-worldmap .cntr_map {
  margin-top: -2px
}

.footer .worldmap {
  top: -490px;
  width: 944px;
  height: 470px;
  background: transparent url(/us/en/images/i/header-footer/i-cselector-worldmap-hpe.gif) no-repeat 0 0;
  overflow: visible;
  position: absolute;
  left: 0;
  border: 2px solid #ccc;
  z-index: 54
}

.footer .worldmap .country_holder {
  padding: 42px 0 0 20px;
  font-size: 62.5%;
  line-height: 20px
}

.footer .worldmap .country_holder ul li {
  padding-bottom: 5px;
  text-align: left;
  width: 132px;
  min-height: 22px
}

.footer .worldmap .country_holder li a,.footer .worldmap .country_holder li a:link {
  font-size: 130%;
  color: #000;
  line-height: 20px
}

.footer .worldmap h2 {
  display: none
}

.footer .worldmap li a:hover,.footer .worldmap li a:focus {
  color: #000;
  text-decoration: underline
}

.footer .worldmap .bottom_corner {
  width: 17px;
  height: 14px;
  position: absolute;
  bottom: -14px;
  _bottom: -19px;
  left: 14px;
  background-position: -123px -1px
}

.footer .worldmap a.cselectorbtn {
  background-position: -103px -58px;
  width: 17px;
  height: 17px;
  top: 10px;
  right: 10px;
  position: absolute;
  display: block;
  color: #626262
}

.footer .worldmap a.cselectorbtn:hover {
  background-position: -139px -58px;
  color: #0197D7
}

.footer .worldmap .hf_country_regions {
  display: none
}

.footer .worldmap .country_holder_mobile {
  display: none
}

.footer .wait_class,.header .wait_class {
  display: none;
  position: absolute;
  top: 0;
  left: 0
}

.footer .wait_class div,.header .wait_class div,.footer #cs_spooler div {
  background: url(/us/en/images/i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0
}

.footer .wait_class.active {
  display: block
}

.footer #cs_spooler {
  width: 1000px;
  top: -257px;
  opacity: 1;
  z-index: 53;
  position: absolute
}

.footer .site_links {
  margin: 0 auto;
  padding: 20px 0 40px;
  width: 1000px;
  margin-bottom: 24px;
  border-bottom: 1px solid #898888
}

.footer .site_links .site_links_container {
  display: inline-block;
  width: 209px;
  padding: 0 38px 0 0;
  vertical-align: top;
  text-align: left;
}

.footer .site_links .site_links_middle {
  width: 500px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

*+html .site_links .site_links_container,*+html .footer .site_links .site_links_middle {
  float: left
}

.footer .site_links div.fstchild {
  padding-left: 18px
}

.footer .site_links div.lstchild {
  padding-right: 18px
}

.footer .site_links .ul_site_links {
  line-height: 0;
  display: block
}

.footer .site_links .ul_site_links li.first_li {
  padding-bottom: 3px
}

.footer .site_links .ul_media_links {
  *display: inline-block
}

.footer .site_links .ul_media_links li {
  display: inline-block;
  padding-top: 12px;
  line-height: 0
}

.footer .site_links .ul_media_links li a {
  display: inline-block
}

.footer .site_links .ul_media_links li.first_li {
  padding: 0
}

.footer .site_links a,.footer .site_links .ul_site_links span {
  font-size: 93.75%;
  line-height: 21px;
  text-decoration: none
}

.footer .site_links a,.footer .site_links a:link,.footer .site_links a:hover,.footer .site_links a:visited,.footer .site_links span {
  color: #5a5a5a;
  margin: 0
}

.footer .site_links a:hover {
  text-decoration: underline
}

.footer .site_links .ul_site_links li.first_li a,.footer .site_links .ul_site_links li.first_li span {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 23px
}

.footer .site_links .ul_site_links li.first_li > a {
  display: none;
  visibility: hidden
}

.footer .site_links .ul_site_links .ul_media_links li.first_li a {
  display: inline-block !important;
  visibility: visible
}

.footer .site_links .ul_site_links .ul_media_links li a {
  font-size: 93.75%
}

.footer .site_links .ul_site_link_header {
  display: none
}

.footer .site_links .site_links_subitems {
  margin-top: 10px
}

ul.footer_media_links {
  padding: 0;
  padding-bottom: 5px
}

.footer_media_links li {
  display: inline-block;
  padding-top: 0
}

.footer_media_links li,.footer_media_links li a,.footer .site_links .ul_media_links li,.footer .privacy_links li {
  *display: inline
}

.footer .home_link a {
  font-size: 87.5%;
  color: #5A5A5A
}

.footer .home_link a:visited {
  color: #5A5A5A
}

.footer .home_link a:hover {
  text-decoration: underline
}

.footer .copyright {
  font-size: 100%;
  line-height: 20px;
  padding-top: 4px
}

.footer .mobile_view {
  padding-top: 10px
}

.footer .mobile_view a {
  font-size: 100%;
  line-height: 20px
}

.footer div.footer_guarantees_block {
  color: #5A5A5A;
  padding-top: 4px;
}

@media screen and (min-width: 0\0) {
  .footer div.footer_guarantees_block,.footer .hf_bottom_links {
    width:1000px;
    margin: 0 auto
  }
}

.footer .footer_guarantees_block span,.footer .footer_guarantees_block a {
  font-size: 100%
}

.footer div.footer_guarantees_block a {
  display: inline-block
}

.footer .hp_employees_container {
  font-size: 87.5%;
  margin: 0 auto;
  padding: 20px 0;
  width: 1000px;
  height: 20px
}

.footer .hp_employees_container a,.footer .hp_employees_container a:visited {
  color: #5A5A5A;
  padding-left: 18px
}

.footer .hp_employees_container a:hover {
  text-decoration: underline
}

.footer .ul_media_links a,.footer .ul_media_links a:link {
  margin-right: 8px;
  line-height: 21px
}

.footer .ul_media_links li.first_li a:link {
  line-height: 21px
}

.footer .ul_media_links a img.hf_blank {
  min-width: 15px;
  min-height: 15px;
  white-space: nowrap;
  border: none;
  font-weight: normal
}

.footer .ul_media_links a img.hf_blank_pub {
  background-image: url(/us/en/images/i/s.gif)
}

.footer .ul_media_links a img.hf_blank_pub {
  background-image: url(/us/en/images/i/common/i-s-hpe.gif)
}

.footer .ul_media_links a:hover {
  text-decoration: none
}

.footer .icn_twt,.footer .icn_fcb,.footer .icn_ytb,.footer .icn_sm_lkn,.footer .icn_sna_wbo,.footer .icn_sm_inst,.footer .icn_vk,.footer .icn_sbd,.footer .icn_sm_ssh,.footer .icn_flk,.footer .icn_sm_msp,.footer .icn_yku {
  background: url(/us/en/images/i/common/s-social-hpe.png) transparent no-repeat scroll;
  _background-image: url(/us/en/images/i/common/s-social-ie6-hpe.gif);
  padding: 0
}

.footer .icn_fcb {
  background-position: 0 0
}

.footer .icn_twt {
  background-position: 0 -30px
}

.footer .icn_sm_lkn {
  background-position: 0 -177px
}

.footer .icn_ytb {
  background-position: 0 -297px
}

.footer .icn_sna_wbo {
  background-position: 0 -1286px
}

.footer .icn_sm_inst {
  background-position: 0 -1956px
}

.footer .icn_vk {
  background-position: 0 -1837px
}

.footer .icn_sbd {
  background-position: 0 -237px
}

.footer .icn_sm_ssh {
  background-position: 0 -207px
}

.footer .icn_flk {
  background-position: 0 -147px
}

.footer .icn_sm_msp {
  background-position: 0 -2075px
}

.footer .icn_yku {
  background-position: 0 -1315px
}

.footer .icn_blog,.footer .icn_sna_blg,.footer .icn_cmt {
  background: url(/us/en/images/i/common/s-15px-hpe.png) transparent no-repeat scroll;
  _background-image: url(/us/en/images/i/common/s-15px-ie6-hpe.gif)
}

.footer .icn_blog,.footer .icn_sna_blg {
  background-position: 0 -2057px
}

.footer .icn_cmt {
  background-position: 0 -2022px
}

.ac_results {
  border: 2px solid #5A5A5A;
  border-top: 0 none;
  background-color: #fff;
  font-size: 14px;
  overflow: hidden;
  z-index: 21;
  width: 260px;
  top: 25px;
  left: -2px;
  position: absolute
}

.ac_results ul {
  margin: 6px 0 10px;
  list-style-position: outside;
  list-style: none;
  padding: 0
}

.ac_results li {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: block;
  overflow: hidden
}

.ac_results li a {
  text-decoration: none;
  line-height: 18px;
  color: #000;
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 18px;
  height: auto;
  width: auto;
  _position: relative
}

.ac_results .ac_no_title li a {
  padding-left: 10px
}

.ac_results a:visited {
  color: #000000
}

.ac_results a:active {
  text-decoration: none
}

.ac_results a:focus {
  color: #FFFFFF
}

.ac_results a.ac_focus,.ac_results_hf a:hover,.ac_results_hf a:hover span,.ac_results a.focus {
  background-color: #007dba;
  color: #FFFFFF
}

.ac_results a span {
  color: #767676
}

.ac_results a.ac_focus span {
  color: #FFFFFF
}

.ac_results .ac_title {
  background-color: #eeeeee;
  padding: 8px 8px 8px 10px
}

.ac_results .ac_progress {
  color: #aaaaaa;
  padding: 10px 10px
}

.ac_results .ac_no_results {
  color: #555555;
  padding: 10px 10px
}

.header li.top_menu_widget,.header li.search_widget,*+html .header li.search_widget a.search_icon {
  display: none
}

.header .hf_top_menu {
  float: left;
  width: auto
}

.header .hf_top_menu .level1 {
  display: block;
  width: auto
}

.header .hf_top_menu li {
  float: left;
  margin-top: 28px;
  margin-left: 35px;
  z-index: 15
}

.header .hf_top_menu li a.header_link {
  font-weight: bold;
  font-size: 160%;
  line-height: 16px;
  *line-height: normal
}

.header .hf_top_menu li a,.header .hf_top_menu li a:visited {
  color: #000;
  display: block;
  -webkit-text-size-adjust: 100%
}

.header .hf_top_menu li a.header_link,.header .hf_top_menu li a.header_link:visited,.header .hf_top_menu li a.header_link:hover,.header .hf_top_menu li a.header_link:active,.header .hf_top_menu li a.header_link:focus,.header .hf_top_menu li.selected a.header_link {
  color: #FFFFFF
}

.header .hf_top_menu .level2 {
  font-size: 140%;
  line-height: 18px;
  display: none;
  position: absolute;
  width: auto;
  z-index: 101;
  background: #fff;
  border: 2px solid #ccc;
  border-bottom: 3px #0096d6 solid;
  margin-left: 2px;
  margin-top: 18px;
  padding: 11px 0 8px
}

.header .hf_top_menu .level2 li {
  display: block;
  float: none;
  padding: 4px 0;
  margin: 0 0 9px 0;
  width: 250px
}

.header .hf_top_menu .level2 li a {
  margin: 0 20px;
  display: inline-block
}

.header .hf_top_menu .level2 li a:hover {
  color: #007DBA
}

.header .hf_top_menu .level2 li a:focus {
  color: #000000
}

.header .hf_top_menu .level2 .top_corner {
  left: 11px;
  width: 17px;
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0
}

.header .hf_top_menu .level2 .separator div {
  margin: 4px 20px 2px;
  border-top: 1px solid #ccc
}

.header .hf_top_menu .expanded {
  width: 501px
}

.header .hf_top_menu .expanded li.selected {
  background: #007DBA
}

.header .hf_top_menu .expanded li.selected a {
  color: #fff;
  outline: none
}

.header .hf_top_menu .level3 {
  display: none;
  position: absolute;
  left: 250px;
  top: -2px;
  margin: 12px 0;
  border-left: 1px solid #ccc
}

.header .hf_top_menu .level3 .top_corner {
  display: none
}

.header .hf_top_menu .level3 li {
  margin: 0;
  padding: 3px 0
}

.header .hf_top_menu .level3 li.lstchild {
  padding-bottom: 10px
}

.header .hf_top_menu .level3 .separator div {
  margin: 4px 20px 2px
}

.header .hf_top_menu .expanded li.selected .level3 a {
  color: #000000
}

.header .hf_top_menu .expanded li.selected .level3 a:focus {
  outline: 1px dotted
}

.header .hf_top_menu .expanded li.selected .level3 a:hover {
  color: #007DBA
}

.header .searchClose {
  display: none
}

@media print {
  body,.header,.footer,.footer_container {
    background-color: #fff !important
  }

  .header,.footer {
    color: #000 !important
  }

  .header .hp_logo a.hf_logo {
    color: #0096D6 !important
  }

  .header .hf_printable,.footer .hf_printable {
    display: block
  }

  .header.hf-not-fontface .hp_logo a.hf_logo img.hf_printable {
    position: static;
    opacity: 1;
    overflow: auto;
    width: 50px;
    height: 50px
  }

  .header .hf_no_printable,.footer .hf_no_printable,.header.hf-not-fontface .hp_logo a.hf_logo img.hf_no_printable {
    display: none
  }

  .header .search_container,.header .search_container.search_container_active {
    border: 2px solid #000
  }

  .header .search_container .searchSubmit,.header .search_container .searchClear,.header .search_container .searchClose,.header .search_container .ac_results {
    display: none !important
  }

  .header .shopping_widget {
    display: none !important
  }

  .header .header_link + .expand_area {
    display: none !important
  }

  .footer .world_map,.footer .footer_lang_container .flag {
    display: none !important
  }

  .footer .site_links_container.lstchild {
    padding-right: 0 !important
  }
}

.search_widget_popup {
  display: none
}

@media screen and (min-width: 801px) and (max-width:999px) {
  .header .header_container,.footer .footer_lang_section,.footer .site_links,.footer .hp_employees_container {
    width:100%
  }

  .everything {
    min-width: 801px
  }

  .footer .site_links .site_links_container {
    padding-right: 8px;
    width: 23%
  }

  .footer .site_links .site_links_middle {
    width: 48%
  }

  .footer .site_links .site_links_middle .site_links_container {
    width: 47%
  }

  .footer div.footer_guarantees_block,.footer .hf_bottom_links {
    width: auto
  }
}

@media screen and (max-width: 800px) {
  .header a:focus,.footer a:focus {
    outline:0
  }

  .header .header_container,.footer .footer_lang_section,.footer .site_links,.footer .hp_employees_container {
    width: 100%
  }

  .everything {
    min-width: 100%
  }

  .footer div.footer_guarantees_block,.footer .hf_bottom_links {
    width: auto
  }

  .header .searchBox {
    width: 130px;
    padding: 4px 38px 5px 10px
  }

  .ac_results {
    top: 34px
  }

  .hdr_widgets .search_block {
    margin-top: 18px
  }

  .header .top_menu_widget .top_m_widget {
    width: 36px;
    height: 34px;
    display: block;
    background-position: 0 -190px
  }

  .header .top_menu_widget .top_m_widget:after {
    margin-right: 8px;
    float: right;
    line-height: 34px;
    font-size: 18px;
    color: white
  }

  .header.top_menu_active .top_menu_widget .top_m_widget:after {
    color: #006699
  }

  .hdr_widgets .nav_buttons {
    margin-top: 18px
  }

  .header .shopping_icon {
    width: 34px;
    height: 34px;
    background-position: 0 -139px;
    line-height: 34px;
    font-size: 25px
  }

  .header .searchSubmit {
    background-position: -3px -90px;
    height: 34px;
    width: 30px;
    font-size: 21px
  }

  .header .wm_no_widgets .searchBox {
    width: 168px
  }

  .header .search_container_active {
    top: 16px
  }

  .header .search_container_active input.searchSubmit {
    float: right
  }

  .header .searchClear {
    background-position: -165px -2px;
    top: 0;
    font-size: 18px;
    width: 28px;
    height: 34px;
    line-height: 34px;
    text-align: center
  }

  .header .ac_results li a {
    padding-top: 8px;
    padding-bottom: 8px
  }

  .header.top_menu_active {
    height: auto
  }

  .header .hf_top_menu {
    display: none
  }

  .header li.top_menu_widget {
    display: inline-block;
    padding-left: 12px
  }

  .header li.top_menu_widget .hf_top_nav {
    display: block
  }

  .header .hf_top_menu .level1 li {
    margin: 0;
    float: none;
    width: auto;
    padding: 0
  }

  .header .hf_top_menu li.first_li a.header_link {
    padding-top: 14px
  }

  .header .hf_top_menu li.lstchild a.header_link {
    padding-bottom: 13px
  }

  .header .hf_top_menu .level1,.header .hf_top_menu .level2,.header .hf_top_menu .level3 {
    border: 2px solid;
    margin: 0;
    padding: 0
  }

  .header .hf_top_menu .level2 .top_corner {
    display: none
  }

  .header .hf_top_menu .level2 li a {
    padding: 7px 26px;
    margin: 0
  }

  .header .hf_top_menu .level2 li.lstchild a {
    padding-bottom: 16px;
    margin: 0
  }

  .header .hf_top_menu .level2,.header .hf_top_menu .level3 {
    width: 100%
  }

  .header .hf_top_menu .level3 li.lstchild {
    padding-bottom: 0
  }

  .hf-not-fontface .ac_results_hf a,.header.hf-not-fontface .hf_top_menu li > a,.header.hf-not-fontface .js_item > a {
    background: right -342px url(/us/en/images/i/header-footer/caas-hf-v3/s-hf-v3r.gif) no-repeat
  }

  .header .js_item > a:active {
    background-position: right -390px
  }

  .header .js_item > a:active,.header .js_item > a:active:before,.header .hf_top_menu .level1 > li > a:active,.header .hf_top_menu .level1 > li > a:active:before {
    color: #FFFFFF
  }

  .header .hf_top_menu li.first_li {
    background-position: right -342px
  }

  .header .hf_top_menu li.first_li a.header_link.has_link:active {
    background-position: right -390px
  }

  .header .hf_top_menu .level1 {
    position: relative;
    overflow-y: auto;
    width: auto;
    left: auto;
    right: 0
  }

  .header .hf_top_menu .level2 {
    width: 100%;
    right: 0
  }

  .header .hf_top_menu .level2,.header .hf_top_menu .level3 {
    display: none;
    position: relative;
    top: 0;
    left: auto
  }

  .header .hf_top_menu .level1 {
    border-width: 2px 0;
    border-color: #FFF;
    background-color: #0096D6
  }

  .header .hf_top_menu .level2 {
    border: none
  }

  .header .hf_top_menu .level3 {
    border-width: 2px 0;
    border-color: #0096D6;
    background-color: #F2F2F2
  }

  .header .hf_top_menu li.lstchild .level2 {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #0096D6
  }

  .header .hf_top_menu .hf_menu li a,.header .hf_top_menu .level2 li.lstchild a {
    padding: 14px 26px
  }

  .header .hf_top_menu .hf_menu.level1 li {
    width: 100%;
    border-bottom: 1px solid #FFF
  }

  .header .hf_top_menu .hf_menu.level2 li {
    border-color: #CCC
  }

  .header .hf_top_menu .hf_menu li.lstchild {
    border: none
  }

  .header .hf_menu.level1 > li > a:before {
    content: "\e600";
    float: right;
    margin: 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    color: #FFF
  }

  .header .hf_menu.level2 > li > a:before {
    content: "\e600";
    float: right;
    margin: 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    color: #767676
  }

  .header .hf_menu.level1 > li > a.open:before {
    content: "\e601"
  }

  .header .hf_menu.level2 > li > a.open:before {
    content: "\e601"
  }

  .header .hf_menu.level2 > li > a.no_submenu:before,.header .hf_menu.level2 > li > a.no_submenu.open:before {
    content: ""
  }

  .header.hf-not-fontface .hf_menu.level1 > li > a:before,.header.hf-not-fontface .hf_menu li.js_item > a:before {
    display: none
  }

  .header .hf_top_menu .hf_menu li a {
    display: block
  }

  .header .hf_top_menu .level2 .separator {
    display: none
  }

  .header .header_container {
    height: 72px
  }

  .header .top_menu_widget_accordion {
    display: none;
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 11
  }

  .header .top_menu_widget_accordion .hf_top_menu {
    float: none;
    display: block
  }

  .header .top_menu_widget_accordion .hf_top_menu li a {
    font-weight: normal;
    display: block;
    line-height: 21px
  }

  .header .top_menu_widget_accordion .level1 li a:active:visited,.header .top_menu_widget_accordion .level1 li a:active {
    background-color: #007DBA;
    color: #FFFFFF
  }

  .header .top_menu_widget_accordion .hf_top_menu li:hover {
    cursor: pointer
  }

  .header .top_menu_widget_accordion .hf_top_menu li a,.header .top_menu_widget_accordion .hf_top_menu li a:active,.header .top_menu_widget_accordion .hf_top_menu li a:hover,.header .top_menu_widget_accordion .hf_top_menu li a:visited,.header .top_menu_widget_accordion .hf_top_menu li .level2,.header .top_menu_widget_accordion .hf_top_menu li .level2 li a {
    font-size: 100%
  }

  .header .top_menu_widget_accordion .hf_top_menu .level1 li > a {
    background-position: right -341px;
    color: #FFFFFF
  }

  .header .top_menu_widget_accordion .hf_top_menu .level1 li a:hover span {
    text-decoration: underline
  }

  .header .top_menu_widget_accordion .hf_top_menu .level2 li > a,.header .top_menu_widget_accordion .hf_top_menu .level3 li > a {
    color: #5A5A5A;
    text-decoration: none
  }

  .header .top_menu_widget_accordion .hf_top_menu .level2 li a:hover,.header .top_menu_widget_accordion .hf_top_menu .level2 li a:focus,.header .top_menu_widget_accordion .hf_top_menu .level3 li a:hover,.header .top_menu_widget_accordion .hf_top_menu .level3 li a:focus {
    color: #0096D6;
    text-decoration: none
  }

  .header .top_menu_widget_accordion .hf_top_menu .level2 li a:active {
    background-color: #FFF
  }

  .header .top_menu_widget_accordion .hf_top_menu .level3 li a:active {
    background-color: #F2F2F2
  }

  .header .top_menu_widget_accordion.iOS .hf_top_menu .level1 li a:hover,.header .top_menu_widget_accordion.iOS .hf_top_menu .level1 li a:active {
    background-color: #0096D6;
    color: #FFFFFF
  }

  .header .top_menu_widget_accordion.iOS .hf_top_menu .level2 li a:hover,.header .top_menu_widget_accordion.iOS .hf_top_menu .level2 li a:focus {
    background-color: #FFF;
    color: #5A5A5A
  }

  .header .top_menu_widget_accordion.iOS .hf_top_menu .level3 li a:hover,.header .top_menu_widget_accordion.iOS .hf_top_menu .level3 li a:focus {
    background-color: #F2F2F2
  }

  .footer .ul_media_links a,.footer .ul_media_links a:link {
    margin-right: 18px
  }

  .footer .ul_media_links a img.hf_blank {
    min-width: 25px;
    min-height: 25px
  }

  .footer .ul_media_links a:hover {
    text-decoration: none
  }

  .footer .icn_fcb {
    background-position: 0 -644px
  }

  .footer .icn_twt {
    background-position: 0 -689px
  }

  .footer .icn_sm_lkn {
    background-position: 0 -779px
  }

  .footer .icn_ytb {
    background-position: 0 -959px
  }

  .footer .icn_sna_wbo {
    background-position: 0 -1049px
  }

  .footer .icn_sm_inst {
    background-position: 0 -1872px
  }

  .footer .icn_vk {
    background-position: 0 -1753px
  }

  .footer .icn_sbd {
    background-position: 0 -869px
  }

  .footer .icn_sm_ssh {
    background-position: 0 -824px
  }

  .footer .icn_flk {
    background-position: 0 -734px
  }

  .footer .icn_sm_msp {
    background-position: 0 -1991px
  }

  .footer .icn_yku {
    background-position: 0 -1094px
  }

  .footer .icn_blog {
    background-position: 0 -2057px
  }

  .footer .icn_cmt {
    background-position: 0 -2022px
  }
}

.footer .cselector_wrapper .right_corner {
  background-position: -95px -26px;
  height: 17px;
  width: 17px;
  left: -4px;
  position: absolute;
  top: 2px;
  display: none
}

.footer .world_map .shadow_cover_top,.footer .world_map .shadow_cover_bottom {
  height: 32px;
  width: inherit
}

.footer .world_map .shadow_cover_top,.header .shop_widget .shadow_cover_top {
  background: -moz-linear-gradient(top,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,rgba(255,255,255,1)),color-stop(80%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -o-linear-gradient(top,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -ms-linear-gradient(top,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background-repeat: no-repeat;
  top: 0;
  position: absolute
}

.footer .world_map .shadow_cover_bottom,.header .shop_widget .shadow_cover_bottom {
  background: -moz-linear-gradient(bottom,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(30%,rgba(255,255,255,1)),color-stop(80%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -o-linear-gradient(bottom,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: -ms-linear-gradient(bottom,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background: linear-gradient(to top,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 80%);
  background-repeat: no-repeat;
  margin-top: -8px
}

@media screen and (min-width: 1001px) {
  .footer .worldmap .country_holder {
    display:block
  }

  .footer .worldmap .country_holder_mobile {
    display: none
  }

  .footer .worldmap_wrapper {
    display: block
  }
}

@media screen and (min-width: 497px) and (max-width:1000px) {
  .footer .worldmap .country_holder {
    display:block;
    padding-top: 0
  }

  .footer .worldmap .country_holder_mobile {
    display: none
  }

  .footer .worldmap .country_holder ul li {
    width: 137px
  }
}

@media screen and (max-width: 496px) {
  .footer .worldmap .country_holder {
    display:none
  }

  .footer .worldmap .country_holder_mobile {
    display: block
  }
}

@media screen and (max-width: 1000px) {
  .footer .world_map {
    border:2px solid #CCCCCC;
    overflow-x: hidden;
    overflow-y: auto
  }

  .footer .worldmap {
    border: 0 none;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    position: static;
    background-color: transparent;
    background-position: 50%
  }

  .footer .worldmap li a:focus {
    text-decoration: none
  }

  .footer .worldmap .country_holder li a,.footer .worldmap .country_holder li a:link {
    font-size: 140%;
    line-height: 30px
  }

  .footer .worldmap h2 {
    display: block;
    font-size: 105%;
    font-weight: normal;
    padding-left: 20px;
    margin: 4px 0 20px 0
  }

  .footer .worldmap .bottom_corner {
    display: none
  }

  .footer .worldmap_wrapper {
    display: none
  }

  .footer .cselector_wrapper.responsive .worldmap_wrapper {
    display: block
  }

  .footer .cselector_wrapper.responsive .right_corner {
    display: block
  }

  .footer .world_map {
    position: absolute;
    background-image: linear-gradient(#CCCCCC 0,#FFFFFF 100%),linear-gradient(#FFFFFF 0,#CCCCCC 100%);
    background: #ffffff;
    background: -moz-linear-gradient(top,#cccccc 0,#ffffff 100%),-moz-linear-gradient(top,#ffffff 13%,#cccccc 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#cccccc),color-stop(100%,#ffffff)),-webkit-gradient(linear,left top,left bottom,color-stop(13%,#ffffff),color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,#cccccc 0,#ffffff 100%),-webkit-linear-gradient(top,#ffffff 13%,#cccccc 100%);
    background: -o-linear-gradient(top,#cccccc 0,#ffffff 100%),-o-linear-gradient(top,#ffffff 13%,#cccccc 100%);
    background: -ms-linear-gradient(top,#cccccc 0,#ffffff 100%),-ms-linear-gradient(top,#ffffff 13%,#cccccc 100%);
    background-position: left top,left bottom;
    background-size: 100% 16px,100% 16px;
    background-color: #ffffff;
    background-repeat: no-repeat
  }

  .footer .worldmap a.cselectorbtn {
    background-position: -90px -48px;
    width: 37px;
    height: 37px;
    line-height: 37px;
    font-size: 17px;
    text-align: center;
    top: 0;
    right: 0;
    position: absolute;
    display: block
  }

  .footer .worldmap a.cselectorbtn:hover {
    background-position: -126px -48px
  }

  .footer #cs_spooler {
    top: auto;
    width: auto
  }

  .footer #cs_spooler div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute
  }
}

@media screen and (min-width: 497px) and (max-width:800px) {
  .everything {
    min-width:497px
  }
}

@media screen and (min-width: 671px) and (max-width:800px) {
  .footer .site_links .site_links_container {
    width:20%;
    padding: 0 10px 0 0
  }

  .footer .site_links .site_links_middle {
    width: 49%
  }

  .footer .site_links .site_links_middle .site_links_container {
    width: 46%
  }

  .footer .site_links .ul_media_links li {
    padding-top: 5px
  }

  .footer .site_links .ul_site_links li.first_li {
    padding-bottom: 2px
  }

  .footer .site_links a,.footer .site_links .ul_site_links li span {
    padding-bottom: 15px;
    display: inline-block
  }
}

@media screen and (min-width: 671px) {
  .footer .site_links .ul_site_links {
    display:block !important
  }
}

@media screen and (max-width: 670px) {
  .footer .site_links {
    padding:0
  }

  .footer .site_links .site_links_container,.footer .site_links .site_links_middle {
    width: auto;
    display: block;
    padding: 0
  }

  .footer .site_links div.fstchild,.footer .site_links div.lstchild {
    padding: 0
  }

  .footer .site_links .ul_site_link_header {
    display: block;
    padding: 10px 15px 10px 20px;
    font-size: 87.5%;
    font-weight: bold;
    border-top: 1px solid #898888;
    background-color: #F2F2F2;
    *zoom:1}

  .footer .site_links a.ul_site_link_header:link {
    font-size: 87.5%
  }

  .footer .site_links .ul_site_link_header:hover {
    text-decoration: none
  }

  .footer .site_links .ul_site_link_header:hover .accordion-header {
    text-decoration: underline
  }

  .footer .site_links a.ul_site_link_header .accordion-icn {
    width: 18px;
    display: inline-block;
    float: right;
    height: 18px
  }

  .footer.hf-not-fontface .site_links a.ul_site_link_header .accordion-icn {
    background: url("/us/en/images/i/header-footer/caas-hf-v3/s-hf-v3r.gif") no-repeat scroll 0 0 transparent;
    background-position: left -536px;
    height: 18px;
    line-height: normal
  }

  .footer .site_links a.ul_site_link_header.open .accordion-icn {
    background-position: left -654px
  }

  .footer .site_links a.ul_site_link_header .accordion-icn:before {
    font-size: 18px;
    color: #898888;
    background-color: #fff
  }

  .footer .site_links a.ul_site_link_header .accordion-header {
    *float: left
  }

  .footer .site_links_container {
    background-color: #FFFFFF
  }

  .footer .site_links .ul_site_links {
    border-top: 1px solid #898888;
    display: none
  }

  .footer .site_links .ul_site_links li {
    margin: 0 15px 0 20px;
    border-bottom: 1px solid #898888
  }

  .footer .site_links .ul_site_links li.first_li {
    padding: 0
  }

  .footer .site_links .ul_site_links li.lstchild,.footer .site_links .ul_site_links li.last {
    border-bottom: none
  }

  .footer .site_links .ul_site_links li a,.footer .site_links .ul_site_links li.first_li span {
    display: block;
    font-size: 87.5%;
    padding: 9px 0;
    line-height: normal
  }

  .footer .site_links .ul_site_links li.first_li span {
    font-weight: normal
  }

  .footer .site_links .ul_site_links li.first_li a {
    font-weight: normal;
    padding: 9px 0;
    line-height: normal
  }

  .footer .ul_media_links {
    border-top: 1px solid #898888
  }

  .footer .site_links .ul_media_links li {
    padding: 18px 0;
    margin: 0;
    border-bottom: none
  }

  .footer .site_links .ul_media_links li a,.footer .site_links .ul_media_links li.first_li a {
    padding: 0
  }

  .footer .site_links .ul_media_links li.first_li {
    padding: 18px 0
  }

  .footer .site_links .ul_site_links li.first_li {
    border-bottom: 0 none
  }

  .footer .site_links .ul_site_links li.first_li > a {
    border-bottom: 1px solid #898888;
    display: block;
    visibility: visible
  }

  .footer .site_links .ul_site_links li.first_li h2 {
    display: none;
    visibility: hidden
  }

  .footer .site_links .ul_site_links li.first_li .column_no_link span {
    display: none
  }

  .footer .site_links .site_links_subitems {
    margin-top: 0
  }
}

@media screen and (max-width: 496px) {
  .everything {
    min-width:100%
  }

  .header.hf-not-fontface .hp_logo a.hf_logo img.hf_no_printable {
    width: 40px;
    height: 40px
  }

  .header .hp_logo a.hf_logo:before {
    font-size: 40px;
    line-height: 40px
  }

  .header .hp_logo a.hf_logo {
    margin-top: 15px
  }

  .header .hp_logo a.hf_logo img.hf_no_printable {
    display: none
  }

  .footer .icn_blog,.footer .icn_sna_blg {
    background-position: 0 -2051px
  }

  .header li.shopping_widget {
    padding-left: 8px
  }

  .header li.top_menu_widget {
    padding-left: 15px
  }

  .header .hdr_widgets {
    margin-right: 9px;
    width: auto;
  }

  .header .skip-links {
    position: absolute
  }

  .header .top_menu_widget_accordion .hf_top_menu li a,.header .top_menu_widget_accordion .hf_top_menu li a:active,.header .top_menu_widget_accordion .hf_top_menu li a:hover,.header .top_menu_widget_accordion .hf_top_menu li a:visited,.header .top_menu_widget_accordion .hf_top_menu li .level2 {
    font-size: 87.5%
  }

  .footer .cselector_wrapper {
    z-index: auto
  }

  .footer .country_holder_mobile a {
    display: block;
    font-size: 87.5%;
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
    margin-bottom: -1px
  }

  .footer .country_holder_mobile a.cs_region {
    position: relative
  }

  .footer.hf-not-fontface .country_holder_mobile a.cs_region {
    background: url("/us/en/images/i/header-footer/caas-hf-v3/s-hf-v3r.gif") no-repeat right -583px transparent
  }

  .footer .country_holder_mobile a.cs_region {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    padding-right: 20px
  }

  .footer .worldmap .country_holder_mobile li a.cs_region:hover,.footer .worldmap .country_holder_mobile li a.cs_region:focus {
    text-decoration: none
  }

  .footer .country_holder_mobile a.cs_region.open {
    background-position: right -701px
  }

  .footer .country_holder_mobile a.cs_region:after {
    content: "\f060";
    color: #898888;
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 18px
  }

  .footer .country_holder_mobile a.cs_region.open:after {
    content: "\f061"
  }

  .footer.hf-not-fontface .country_holder_mobile a.cs_region:after {
    display: none
  }

  .footer .cs_r_countries {
    margin: 0 10px
  }

  .footer .cselector_wrapper .country_holder_mobile .cs_r_countries a {
    color: #007dba;
    border-bottom: 1px solid #ccc
  }

  .footer .worldmap .country_holder_mobile .cs_r_countries a:hover {
    text-decoration: underline
  }

  .footer .worldmap {
    background: transparent
  }

  .footer .worldmap h2 {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 0 20px 0
  }

  .footer .worldmap a.cselectorbtn {
    line-height: 40px;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px
  }

  .footer .site_links a.ul_site_link_header span {
    font-size: inherit
  }

  .header .search_container_active .searchBox {
    padding-right: 34px;
    padding-bottom: 3px
  }

  .header .search_container_active {
    margin-top: 8px;
    border: 0 none
  }

  .header .header_container {
    position: relative
  }

  .header .searchClear {
    top: 18px;
    right: 50px
  }

  .search_widget_active,.search_widget_active .header_container {
    height: auto;
    min-height: 72px
  }

  .search_widget_active .hp_logo {
    visibility: hidden;
    display: none
  }

  .search_widget_active .hdr_widgets {
    padding: 10px 10px 0;
    margin: auto;
    position: static;
    width: auto !important
  }

  .search_widget_active .hdr_widgets,.search_widget_active .hdr_widgets .hdr_buttons {
    float: none
  }

  .search_widget_active .hdr_buttons {
    visibility: hidden;
    display: none
  }

  .search_widget_active .hdr_widgets .search_block {
    margin: auto;
    float: none;
    display: block
  }

  .search_widget_active .search_container {
    left: auto;
    position: static
  }

  .search_widget_active .ac_results {
    position: relative;
    top: 0;
    left: -10px;
    margin: auto;
    border: 0 none;
    border-top: 18px solid #0096D6;
    border-bottom: 2px solid #0096D6;
    clear: both
  }

  .search_widget_active .ac_results li a {
    border-bottom: 1px solid #ccc
  }

  .search_widget_active .ac_results ul {
    margin: 0
  }

  .header .search_container_active .search_mob_container {
    border: 2px solid #5a5a5a
  }
}

.ac_results {
  width: 100%
}

@media screen and (min-width: 351px) and (max-width:496px) {
  .everything {
    min-width:321px
  }
}

@media screen and (max-width: 350px) {
  .everything {
    min-width:100%
  }

  .header input {
    -webkit-appearance: none;
    border-radius: 0
  }

  .header .shopping_widget .item_count.hf_cart_not_empty {
    display: block
  }
}

@media screen and (min-width: 220px) and (max-width:270px) {

}

@media screen and (max-width: 220px) {

}

@media \0screen {
  #header,#footer {
    min-width: 1000px
  }

  #header ul li > a,#footer ul li > a {
    padding-bottom: 0
  }
}

@media print {
  .footer .site_links .ul_site_links {
    display: block !important
  }

  .header .header_link + .level2 {
    display: none !important
  }
}

@media screen and (max-width: 496px) {
  .header .hdr_widgets {
    width:auto !important
  }

  .header .searchClose {
    position: relative;
    width: 17px;
    height: 17px;
    top: -48px;
    float: right;
    z-index: 22;
    margin-right: 15px;
    background-position: -171px -12px;
    font-size: 17px;
    line-height: 17px;
    color: #CCC
  }

  .search_widget_active .searchClose {
    display: block
  }

  .header li.search_widget {
    display: inline-block;
    padding-left: 4px
  }

  .hdr_widgets .search_block {
    display: none
  }

  .header .search_icon {
    width: 34px;
    height: 34px;
    display: block;
    background-position: 0 -89px;
    font-size: 22px;
    line-height: 34px
  }

  .header .search_widget_popup {
    position: absolute;
    top: 0;
    height: 70px;
    color: #666;
    border: 0 solid #0096D6;
    border-bottom-width: 3px;
    width: 100%;
    z-index: 11
  }

  .header .search_widget_popup .search_block {
    width: 100%;
    margin: 0;
    height: 54px;
    border-bottom: 2px solid #ccc;
    padding-top: 18px
  }

  .header .search_widget_popup .search_container {
    border: 0 none
  }

  .header .search_widget_popup .search_container_elements {
    border: 2px solid #CCC;
    width: auto;
    margin: 0 8px;
    background-color: #FFF
  }

  .header .search_widget_popup .search_container_active .search_container_elements {
    border-color: #5A5A5A
  }

  .header .search_widget_popup .searchBox {
    padding-left: 6px;
    float: none
  }

  .header .search_widget_popup .searchSubmit {
    float: left;
    height: 34px;
    font-size: 22px;
    padding-left: 10px
  }

  .header .search_widget_popup .search_container_active .searchBox,.header .search_widget_popup .search_container_active .searchSubmit {
    border-color: #5A5A5A
  }

  .header .search_container_active input.searchSubmit {
    float: left
  }

  .header .search_container_active {
    width: auto;
    left: 0;
    top: 18px
  }

  .ac_results {
    border: 0;
    position: static;
    padding-top: 0;
    margin: 0
  }

  .ac_results a,.ac_results a:link {
    padding-left: 16px
  }

  .header .widget .ac_results a.ac_focus,.ac_results a.focus {
    background-color: #0096D6;
    color: #FFFFFF;
    text-decoration: none
  }

  .ac_results li a {
    border-bottom: 1px solid #eee;
    line-height: 30px
  }

  .ac_results ul {
    margin: 0
  }

  .header .searchBox {
    font-size: 160%
  }

  .header .search_container_active .searchBox {
    padding-right: 32px
  }
}

/*
Date: 2/18/2015 10:25:29 PM
All images published
*/