#register, #thanks
  @extend .specialForms
  -webkit-overflow-scrolling: touch
  background: $forms_background
  +clearfix
  +box
  form
    +clearfix
  fieldset
    border: none
    +clearfix
    +rems(padding-bottom, 2)
    aside
      +rowMachine(2, 0)
      margin-bottom: 0 !important
      @media #{$phone}
        width: 100%
        margin-bottom: 2rem !important
        &:last-child
          margin-bottom: 0 !important
  +rems(padding, 4)
  .field_label
    display: block
    +rems(margin-bottom, 0.5)
  .name_field
    width: 100%
    +rems(padding, 0, 2)
    margin-right: 5%
    &:nth-of-type(2)
      margin-right: 0
  .email_field
    width: 100%
    +rems(padding, 0, 2)
  select
    +rems(padding, 0.2)
    +font-size(1.8, 1.3)
    font-family: 'HPSimplified', sans-serif
    color: #767676
    width: 100%
  .button
    +rems(margin, 2, 0)
  input
    +box
  a
    color: #000

#thanks
  display: none
  +rems(margin-top, 3.5)
  h2
    +font-size(3.6, 1.8)
    @media #{$phone}
      +font-size(3.6, 3.6)
    +rems(margin-bottom, 3)
    color: #0096d6
    text-align: center
    background: none

  p
    text-align: center
    a
      color: $white

.newsLetterSignUp
  .container
    h2
      +font-size(3.6, 3.6)
      +rems(padding,1.8,2 )
      color: $white
      margin-bottom: 0
      background: rgb(55,135,198) /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(55,135,198,1) 0%, rgba(94,180,227,1) 49%, rgba(94,180,227,1) 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(55,135,198,1)), color-stop(49%,rgba(94,180,227,1)), color-stop(100%,rgba(94,180,227,1))) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  rgba(55,135,198,1) 0%,rgba(94,180,227,1) 49%,rgba(94,180,227,1) 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  rgba(55,135,198,1) 0%,rgba(94,180,227,1) 49%,rgba(94,180,227,1) 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  rgba(55,135,198,1) 0%,rgba(94,180,227,1) 49%,rgba(94,180,227,1) 100%) /* IE10+ */
      background: linear-gradient(to right,  rgba(55,135,198,1) 0%,rgba(94,180,227,1) 49%,rgba(94,180,227,1) 100%) /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3787c6', endColorstr='#5eb4e3',GradientType=1 ) /* IE6-9 */
    #register
      +rems(margin-top, 3.5)
      +rems(padding, 0, 0, 0 , 0)
      #reg_form
        +rems(padding, 4, 4, 4 , 4)
      .button
        width: 26rem





