.full-overlay, .mobile-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3000;
	background: $trans-purple;	
	display: none;
	&#features-video {
		background: $trans-pink;	
	}
	&-content {
		width: 90%;
		margin: 0 auto;
		height: 100%;
		display: table;
		text-align: center;
		@include rems(max-width, 85);
		.video {
			display: table-cell;
			vertical-align: middle;
			object {
				border: 2px solid #fff;	
			}
		}
	}
	&#signup-overlay {
		.container {
			@include rems(max-width, 70);
		}
    }
}
.mobile-overlay {
	position: fixed;	
}
.mobile-video-trigger {
	@include background-cover;
	width: 100%;
	a {
		display: table-cell;
		vertical-align: middle;
		background-position: center center;
		position: relative;
		z-index: 100;
		background-repeat: no-repeat;
		background-image: url(images/mobile/mobile-play.png);	
		width: 100%;							
	}
}
.vertical-fix {
	height: 100%;
	display: table;
	width: 100%;
	.vertical-align {
		display: table-cell;
		vertical-align: middle;
	}
}
.slider-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 3000;
    overflow-y: scroll;
	/*.bx-wrapper, .bx-viewport {
		height: 100%!important;
	}*/
	ul {
		height: 100%;
		li {
			display: block;
			width: 100%;
			height: 100%;
            background-color: rgba(255, 255, 255, 1);
            //background-color: rgba(0, 0, 0, 0.9);
			&.hidden {
				display: none!important;	
			}
            .vertical-top {
              vertical-align: top !important;
            }
			.container {
				display: table;
                @include rems(height, 70);
                @include rems(min-width, 85);
                //border: 1px solid red;
				@media #{$phone} {
					display: block;	
				}
				@include rems(padding, 0, 8);
				@include box;
				.cover-overlay-content {
					.desktop &, .tablet & {
						display: table-cell;
						vertical-align: middle;	
						color: #000;
					}
					h2 {
						font-family: 'HPSimplifiedLight', sans-serif!important;
					}
					.mobile & {
						width: 100%;
						display: block;	
					}
					aside {
						&:nth-child(1) {
							.mobile & {
								display: none;	
							}
							width: 17.5%;
							margin-right: 2.5%;
							h2 {
								font-family: "HPSimplified","Arial";
							}
							p {
								font-family: "HPSimplifiedLight","Arial";	
							}
						}
						&:nth-child(2) {
							width: 80%;
							.fluid-width-video-wrapper {
								@include rems(min-height, 40);	
							}
							.mobile & {
								height: 100%;
								width: 100%;
								display: table;
								float: none;
								.fluid-width-video-wrapper {
									position: relative;
									z-index: 1000;	
								}
							}
						}
					}
				}
              .cover-overlay-content {
                display: table-cell;
                vertical-align: middle;
              }
			}
		}
	}
  .thumb-links {
    @include rems(min-width, 85);
    li.video-thumb {
//       width: 23% !important;
//       float: left !important;
//       margin-right: 20px !important;
//       clear: none !important;
      float: left !important;
      clear: none !important;
      @include rowMachine(4,1%)
     }
    h3, h4 { font-weight: bold; }
    h3 { bottom: 0.5rem; font-size: 1.4rem; margin-bottom: 1rem; }
    h4 { margin-top: 1rem; font-size: small !important; text-align: left !important; }
    .img-wrap {
      @include rems(width, 19.5);
      @include rems(height, 11.2);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .now-play {
        background-color: #0ca49b;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        position: absolute;
        opacity: 0.85;
        display: none;
        span {
          top:  40%;
          left: 35%;
          position: absolute;
          color: #FFFFFF;
          font-weight:  bold;
        }
      }
    }
    #video-01 {
      .img-wrap {
        background-image: url(images/video-thumb-01.png);
      }
    }
    #video-02 {
      .img-wrap {
        background-image: url(images/video-thumb-02.png);
      }
    }
    #video-03 {
      .img-wrap {
        background-image: url(images/video-thumb-03.png);
      }
    }
    #video-04 {
      .img-wrap {
        background-image: url(images/video-thumb-04.png);
      }
    }
    p {
      font-size: 1.43rem;
      line-height: 1.63rem;
      padding-bottom: 0 !important;
    }
    span {
      font-size: 1.2rem;
    }
  }

  .close-button,
  .overlay-close {
    top: 1rem !important;
  }

}
.fixed-body { position: fixed; }
.slider-overlay .bx-controls {
  position: absolute;
  top: 50%;
  margin-top: -3.3rem;
  width: 100%;
}
.slider-overlay .bx-controls .bx-controls-direction {
  max-width: 100rem;
  width: 90%;
  margin: 0 auto;
}
.bx-controls .bx-prev, .bx-controls .bx-next {
  display: block;
  float: left;
  height: 65px;
  position: relative;
  width: 34px;
  z-index: 410;
  background-image: url("images/overlay.png") !important;
  background-repeat: no-repeat !important;
  background-position: -1px 0 !important;
}

.bx-controls .bx-next {
  float: right;
  background-image: url("images/overlay.png") !important;
  background-repeat: no-repeat !important;
  background-position: -1px -70px !important;
}

.slider-overlay .bx-controls .bx-controls-direction .bx-next,
.slider-overlay .bx-controls .bx-controls-direction .bx-prev {
  margin-top: 0;
}

.close-button, .overlay-close {
  display: block;
  float: right;
  height: 37px !important;
  text-indent: -10000px;
  top: 4rem;
  width: 37px !important;
  margin-top: 4rem;
  position: absolute;
  right: 0;
  z-index: 1;
  background-image: url("images/overlay.png") !important;
  background-repeat: no-repeat !important;
  background-position: -1px -144px !important;
}
.creatorGallery a.mobileOnly { display: block; width: 100%; height: 100%; background: transparent;  }