div.squareGrid {
  float: left;
  width: 100%;
}
div.customGrid {
  padding : 0.8333%;
}
div.s {
  position : relative;
  float: left;
  width: 32%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin:0.66%;
  background-color: #1E1E1E;
}
.block .holder{
  position : absolute;
  width : 100%;
  height : 100%;
  color : #fff;
}
.block .holder .gridTable i{
  font-size : 40px;
  text-align : center;
}
.block .holder .gridTable {
  display : table;
  width : 100%;
  height : 100%;
}
.block .holder .gridTable .cell{

  display: table-cell;
  vertical-align: middle;
  text-align : center;
}
.block .holder .gridTable .cell div.title {
  font-size : x-large;
  text-shadow: -1px 1px 20px rgba(0,0,0,0.8);
}
.block .holder .gridTable .cell div.tagline {
  font-size : x-small;
  text-shadow: -1px 1px 20px rgba(0,0,0,0.4);
}
div.s50{
  position : relative;
  float:left;
  width: 49.3333333%;
  padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
  margin:0.3333333%;
  background-color: #1E1E1E;
}
div.s50-50{
  position : relative;
  float:left;
  width: 49.3333333%;
  padding-bottom: 49.3333333%; /* = width for a 1:1 aspect ratio */
  margin:0.3333333%;
  background-color: #1E1E1E;
}
div.s2{
  position : relative;
  float:left;
  width: 65.3333333%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin:0.66%;
  background-color: #1E1E1E;
}
div.s3{
  position : relative;
  float:left;
  width: 98.666667%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin:0.66%;
  background-color: #1E1E1E;
}