.storeLocaterModule7
  .container
    .module-7
      .container
        margin-top: 0
        margin-bottom: 0

.storeLocaterModule12
  .container
    .module-12
      .container
        @include rems('margin-top',6.5)
.storeLocatorMap
  .container
    @include rems('margin-top',2.5)
.storeSearch
  @include rems('margin-top',6.8)
  .container
    @media #{$phone}
      padding: 0 15px