.appsStoreHeading
  .container
    @include rems('margin-top',5)
    @include rems('margin-bottom',3.7)
    h2
      @include font-size(3.6,3.6)
      text-align: center
      color: $black
.appsStoreFooter
  .module-7
    .container
      margin-top: 0px
.storeAppsModule19
  background: url("images/Sprout_apps_store_bg.jpg") no-repeat
  float: left
  width: 100%
  background-size: 100% 100%