.module-14
  +rems('margin-top',2)
  +rems('margin-bottom',2)
  .heading-panel
    background-color: #e4e8e7
    @include rems('padding',1,5)
    overflow: hidden
    @media #{$phone}
      @include rems('padding',1,2)
    h2
      float: left
      @include rems('padding-bottom',0)
      font-family: 'HPSimplified', sans-serif
      @media #{$phone}
        font-size: 2rem
    a
      float: right
      @include rems('padding-right',2.5)
      background-image: url("images/arrow-fwd.gif")
      background-repeat: no-repeat
      background-position: 100% 100%
      color: $burgundy
      text-decoration: none
      font-family: 'HPSimplified', sans-serif
  .tabs
    @include rems('padding-top',2)
    .navigation-tabs
      li
        padding: 0 50px
      a
        color: #000000
  .store-details-heading
    //@include rems('padding-left',1.5)
    //@include rems('padding-right',1.5)
    background-color: #f2f2f2
    //@include rems('padding',0,5)
    @include rems('height',60)
    overflow: auto
    display: block !important
    @media #{$phone}
      //background-color: $purple
      @include rems('padding-left',1.5)
      @include rems('padding-right',1.5)
      background-color: $white
      height: auto
      overflow: visible
    .nano-content
      @media #{$phone}
        position: static
        overflow: visible
    .nano-pane
      @include rems('margin',0.2,0.4)
    h2
      //@include rems('padding-top',3.6)
      //text-align: center
      @media #{$desktop}
        @include font-size(2.8,2.8)
        @include rems('margin-bottom',0)
    .store-heading
      @media #{$phone}
        @include font-size(3.8,3.8)
        @include rems('margin-top',2)
        @include rems('padding-bottom',0)
        color: $black
        text-align: center
  .store-details
    @include rems('padding-bottom',2)
    @include rems('margin',0,5)
    &:last-child
      @media #{$desktop}
        @include rems('padding-bottom',0)
        border-bottom: 0 !important
    @media #{$phone}
      //color: $white
      //border-bottom: 1px solid #b9b8bd
      //@include rems('padding-left',3)
      @include rems('margin',0, 1)
      &:last-child
        border-bottom: 0 !important
    border-bottom: 1px solid $dark-gray
    h2
      @include rems('padding-top',3.0)
      @include rems('padding-bottom',1.5)
      text-align: left
      margin-bottom: 0
      @include font-size(2.8,2.8)
      @media #{$phone}
        @include rems('padding-bottom',0)
    .row
      @include rowMachine(3,0.5%)
      //@media #{$desktop}
      //  &:last-child
      //    @include rems('margin-bottom',6)
      @media #{$phone}
        @include rowMachine(1, 0)
        @include rems('padding-bottom',0)
      margin-bottom: 66px
      display: inline-block
      padding: 10px 0
      p
        padding-bottom: 0
        color: $black
        @media #{$phone}
          strong
            //margin-bottom: 1rem
      //color: $white
      .storeName
        @media #{$phone}
        //color: $white
        padding-bottom: 0
        color: $black
        &:last-child
          border-bottom: 0 !important
      .links
        @media #{$phone}
          margin-top: 1rem
        ul
          width: 100%
          display: block
          li
            display: inline-block
            width: auto
            a
              font-weight: bold
              //@include rems('padding-left',1)
              @include rems('padding-right',1)
              @include rems('margin-right',1)
              @include rems('padding-top',0)
              @include rems('padding-bottom',0)
              @include font-size(1.5, 1.5)
              @media #{$phone}
                @include font-size(1.8, 1.8)
              text-decoration: none
              color: $burgundy
              //color: $white
              //border-right: 1px solid $white
              border-right: 1px solid $burgundy
              display: block
              float: left
            &:first-child
              a
                @include rems('padding-left',0)
                border-right: 0
            &:last-child
              a
                border-right: 0
  .store-details-lastrow
    border-bottom: 0
    .row
      margin-bottom: 0 !important

