.module-11
  .container
    position: relative
    .row
      @include rowMachine(2,0)
      &.map
        @include rems('margin-left',1)
        @media #{$phone}
          display: none
      @media #{$phone}
        @include rowMachine(1,0)
      float: left
      margin-bottom: 0
      display: inline
      &:nth-child(1)
        width: 39%
        @media #{$phone}
          width: 100%
      &:nth-child(2)
        overflow: hidden
        width: 60%
        position: absolute
        height: 100%
        top: 0
        bottom: 0
        right: 0
        @media #{$phone}
          width: 100%
      .row-child
        h2
          @include font-size(2.1,2.1)
        @include rowMachine(1,0)
        float: left
        margin-bottom: 0
        @include rems('padding',1,.2,.4, 1.5)
        color: $black
        h4
          font-size: 18px
          font-weight: bold
        .store-child
          @include rowMachine(1,0)
          margin-bottom: 0
          margin-bottom: 0
          //@include rems('padding-left',2)
          @include rems('padding-top',0.5)
          @include rems('padding-bottom',1.5)
          width: 92%
          overflow: hidden
          position: relative
          .num
            display: block
            float: left
            @include rems('padding-right',1)
            color: $burgundy
            font-weight: bold
          aside
            width: 73%
            +rems('padding-top',0.2)
          .miles
            position: absolute
            right: 0
            display: block
        .event-child
          @include rowMachine(1,0)
          float: left
          margin-bottom: 0
          margin-bottom: 0
          //@include rems('padding-left',2)
          @include rems('padding-top',0.5)
          @include rems('padding-bottom',1.5)
        p
          padding-bottom: 0
        p.purple
          color: #c5215e
          font-weight: bold
        &:nth-child(1)
          background-color: #f2f2f2
          overflow: auto
          overflow-x: hidden
          height: 259px
          @media #{$phone}
            background-color: #FFFFFF
            height: auto
            border-bottom: 1px solid #b9b8bb
            @include rems('padding-bottom',3)
            @include rems('margin-bottom',1)
            .nano-content
              position: static
        &:nth-child(2)
          background-color: #e8e8e8
          overflow: auto
          overflow-x: hidden
          height: 259px
          @media #{$phone}
            background-color: #FFFFFF
            height: auto
            .nano-content
              position: static
        .links
          @media #{$phone}
            padding-top: 1rem
          ul
            width: 100%
            display: block
            li
              display: inline-block
              width: auto
              a
                font-weight: bold
                //@include rems('padding-left',1)
                @include rems('padding-right',1)
                @include rems('margin-right',0.6)
                @include rems('padding-top',0)
                @include rems('padding-bottom',0)
                @include font-size(1.5, 1.5)
                @media #{$phone}
                  @include font-size(1.8, 1.5)
                text-decoration: none
                color: $burgundy
                border-right: 1px solid $burgundy
                display: block
                float: left
              &:first-child
                a
                  @include rems('padding-left',0)
              &:last-child
                a
                  border-right: 0
                  border-right: 0 !important
              &.lastItem
                a
                  border: 0 !important





























