.module-da_7-ma_8
  &.one
    .container
      background: $gray_lite
      @include rems('padding-top',2)
      @include rems('padding-bottom',2)
      @include rems('padding-left',2.5)
      @include rems('padding-right',2.5)
      h2
        text-align: center
        @include rems('margin-bottom',2)
      .row
        @include rowMachine(1,0)
        .subItem
          .block
            @include rems('height',10)
            @include rems('width',10)
            background: $gray


  &.two
    .container
      @include rems('margin-top',.5%)
      background: $gray_0
      @include rems('padding-top',2)
      @include rems('padding-bottom',2)
      @include rems('padding-left',2.5)
      @include rems('padding-right',2.5)
      color: $white
      @media #{$phone}
        background: $white
      h2
        text-align: center
        color: $white
        @include rems('margin-bottom',2)
      h2,h4
        @media #{$phone}
          color: #000000
          text-align: left
      .placesHolder
        @media #{$phone}
          @include rems('padding',0)
        h4
          @include rems('margin-bottom',1.5)
        .row
          @include rowMachine(1,0)
          display: inline-block
          vertical-align: top
          position: relative
          @media #{$phone}
            @include rowMachine(1,0)
          .row-child
            @include rowMachine(2,0)
            float: left
            &:nth-child(1)
              @media #{$phone}
                @include rowMachine(1,0)
          .row-child.mapHolder
            display: block
            position: absolute
            height: 100%
            right: 0
            top: 0
            overflow: hidden
            // for wire-frame
            img
              width: auto
              height: 100%
              max-width: inherit
          .placeContainer
            display: block
            width: 100%
            @include rems('padding',2)
            background: #ffffff
            @media #{$phone}
              @include rems('padding-top',2)
              @include rems('padding-botton',2)
              @include rems('padding-left',0)
              @include rems('padding-right',0)
              border-top: 2rms solid $gray
              border-top: 2px solid $gray
            li
              display: block
              width: 100%
              color: #000
              .sector
                .item
                  //display: inline-block
                  &.index
                    //float: left
                    .number
                      display: inline-block
                      @include rems(padding,1)
                      background: #000000
                      color: $white
                  &.address
                    @include rems('padding-left',2)
                    color: #000000
                    @media #{$phone}
                      @include rems('padding-right',0)

                    // styles for links
                    .links
                      ul
                        width: 100%
                        display: block
                        li
                          display: inline-block
                          width: auto
                          a
                            font-weight: bold
                            //@include rems('padding-left',1)
                            @include rems('padding-right',1)
                            @include rems('margin-right',1)
                            @include rems('padding-top',0)
                            @include rems('padding-bottom',0)
                            @include font-size(1.2, 1.3)
                            text-decoration: none
                            color: #000000
                            border-right: 1px solid #000000
                            display: block
                            float: left
                          &:first-child
                            a
                              @include rems('padding-left',0)
                          &:last-child
                            a
                              border-right: 0



                  &.logoHolder
                    .logo
                      @include rems('height',4)
                      @include rems('width',5)
                      background: $gray
                      color: #000000
                    .stock
                      font-weight: bold
                      @include font-size(1.2, 1.3)
                p
                  @include font-size(1.3, 1.6)
                  @include rems('padding-bottom',0)
      .searchBoxContainer
        padding: 0
        @include rems('padding-bottom',2)
        .locationSearchHolder
          position: relative
          width: 100%
          display: block
          text-align: center
          .locationSearch
            position: relative
            display: inline-block
            background: $gray_lite
            text-align: right
            width: 100%
            @media #{$phone}
              @include rems('padding-left',.2)
              @include rems('padding-right',.2)
              @include rems('padding-top',0.2)
              @include rems('padding-bottom',0.2)
            .formControl
              display: inline-block
              vertical-align: middle
              width: 100%
              background: $gray_lite
              @include rems('padding-left',1)
              @include rems('padding-right',1)
              @include rems('padding-top',0.4)
              @include rems('padding-bottom',0.4)
              input
                height: 28px
                display: block
                width: 100%
                @include font-size(1.2, 2.4)
                font-family: 'HPSimplifiedLight', sans-serif
                background: $gray_lite
            .button
              position: absolute
              @include rems('top',.6)
              @include rems('right',0.6)
  &.three
    .container
      @include rems('margin-top',.5%)
      @include rems('padding-top',2)
      @include rems('padding-bottom',2)
      @include rems('padding-left',2.5)
      @include rems('padding-right',2.5)
      background: $gray_lite
      h2
        @include rems('margin-bottom',3)
        text-align: center
      .detailsHolder
      .imageHolder
        .block
          img
            max-width: 100%
            width: 100%


  &.four
    .container
      @include rems('margin-top',.5%)
      .row
        @include rowMachine(1,.5%)
        .col
          @include rowMachine(2,.5%)
          img
            max-width: 100%
            width: 100%



