.module-20
  @media #{$tablet-portrait}
    @include rems('margin-bottom',5)
  .container
    .module-20-tab-padding
      @include rems('padding-top',2)
      @media #{$tablet-portrait}
        max-width: 100rem
      li
        padding: 0 50px
        @media #{$phone}
          width: 100%
    .tabs-panels
      @include rems('margin-bottom',0)
      @media #{$phone}
        @include rems('margin-bottom',8)
      .bx-wrapper
        .creativitySlider
          display: block !important
      .bx-controls .bx-pager-item a
        border: 1px solid #000
      .slide
        .mobile-title
          border-width: 0 0 1px 0
          border-style: solid
          border-color: #ccc
          padding: 10px
          text-align: center
          color: #000000
          font-size: 1.5em
          background: url(images/arrow-down.png) 97% 50% no-repeat
      .slide.active
        .mobile-title
          background: url(images/arrow-up.png) 97% 50% no-repeat
      .creativity,.games,.edutainment
        .bx-wrapper
          .bx-viewport
            width: 955px!important
            @media #{$tablet-portrait}
              width: 100%!important
            @media #{$tablet-landscape}
              width: 955px!important  
          .bx-controls
            .bx-pager
              margin-top: 4rem !important
            .bx-pager-item
              .bx-pager-link.active
                border: 2px solid #71c8f3
              .bx-pager-link
                width: 55px
                height: 55px
                border-radius: 1rem
                background-repeat: no-repeat
                border: 1px solid #ccc
            .bx-controls-direction
              position: relative
              top: -290px
            .bx-default-pager
              margin-top: 2rem
              position: relative
            .bx-prev
              left: 0
              background: url(images/overlay.png)
              background-position: -516px 0
              @media #{$tablet-portrait}
                position: absolute
                float: none !important
                left: 12px
            .bx-next
              left: 4px
              background: url(images/overlay.png)
              background-position: -516px -70px
              @media #{$tablet-portrait}
                position: absolute
                right: 2px
                left: auto
                float: none !important
        .creativitySlider
          li
            @media #{$phone}
              border-bottom: 1px solid #cccccc
              @include rems('padding',2,0)
          .row
            @media #{$phone}
              float: none
              padding-top: 1rem
              width: 100%
              text-align: center
            @include rowMachine(2,0)
            float: left
            margin-bottom: 0
            @include rems('padding-top',4)
            &:nth-child(1)
            &:nth-child(2)
              padding-top: 154px
              @media #{$phone}
                padding-top: 1rem
                padding-bottom: 1rem
            &:nth-child(2)
              @media #{$tablet-portrait}
                width: 40%
              @media #{$phone}
                width: 100%
                @include rems('padding-left',2)
                @include rems('padding-right',2)
            img
              @media #{$phone}
                width: 100%
            h2
              @include font-size(3,3)
              padding-bottom: 0
              color: $black
            p
              @media #{$phone}
                @include rems('padding-top',1)
              @include rems('padding-top',2)
              @include font-size(1.8,2.4)
              a
                color: $burgundy
                font-weight: bold
                text-decoration: none
                @media #{$phone}
                  @include font-size(2.2,2.4)
              .anchor
                @include rems('margin-top',0)
.accordian-active
  .appsStoreHeading .container h2
    padding-left: 1.5rem
    padding-right: 1.5rem
  .slide
    display: block !important
    .mobile-title
      display: block !important

.accordian-active
  .module-20
    .container
      .tabs-panels
        .creativity,.games,.edutainment
          .creativitySlider
            .row:nth-child(2)
              width: 100%
