.module-21
  .container
    ul
      li
        @media #{$phone}
          height: 100% !important
        .mobileVideoHolder
          h2
            @media #{$phone}
              @include rems('margin-bottom',3)
            text-align: center
            padding-bottom: 0
            color: $black
          @media #{$phone}

            .imageHolder
              height: 230px
              margin: 1rem
              position: relative
              display: block
              img
                width: 100%
                display: block
              .mobileVideoPlay
                position: absolute
                height: 100%
                display: block
                top: 0
                left: 0
                right: 0
                bottom: 0
                text-align: center
                img
                  display: inline-block
                  max-width: 100%
                  width: auto !important
                  @include rems('max-height',10.6)
    .headingWrapper
      h2
        width: 100%
        float: left
        text-align: center
        @include font-size(3.6,3.6)
        position: relative
        color: $black
        margin-top: 2rem
      h4
        width: 70%
        text-align: center
        margin: 0 auto 2rem auto
        @include font-size(2.4,2.4)
        @media #{$phone}
          @include font-size(2.4,3) // please check this --- thilina
    .creatorGallery
      @media #{$phone}
        a.mobileOnly
          position: absolute
          z-index: 2
      &.thumbs
        li
          &:nth-child(1)
            width: 49.75%
          &:nth-child(2)
            //background: $gray_0
            display: block
          @media #{$phone}
            .hoverBoxContainer
              display: none !important
              visibility: hidden !important
        .creator
          &.one
            @media #{$phone}
              @include rowMachine(2,.5%)
              display: block
          &.two
            background-size: 100% auto !important
            @media #{$phone}
              background-size: cover !important
          &.rowTwo
            @media #{$phone}
              @include rowMachine(2,.5%)
              display: block
    .thumbs
      list-style: none
      display: block
      width: 100%
      float: left
      @media #{$phone}
        @include rems('margin-top',0)
      li
        position: relative
        float: left
        @include rowMachine(2,.5%)
        &:nth-child(1)
          @media #{$phone}
            width: 100% !important
        &:nth-child(2)
          @media #{$phone}
            width: 100%!important
        &:nth-child(2)
          @include rems('height',40)
          @media #{$phone}
            @include rems('height',20)
            width: 100%
        &:nth-child(1)
          @include rems('height',40+.5%)
          @media #{$phone}
            @include rems('height',20)
            display: none

        .col, .col-full, .col-full-height
          .hoverBoxContainer
          .highlightBox
            @include rems('padding',2)
            margin-top: 23.5%
            position: relative
            transition-delay: 0s
            transition-duration: 200ms
            transition-property: all
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
            h2
              color: $white
              text-align: center
              transition-delay: 0s
              transition-duration: 200ms
              transition-property: all
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
              @include font-size(2.5, 2)
            .overlay
              left: 0
              position: absolute
              display: block
              color: $white
              text-align: center
              width: 100%
              opacity: 0
              transition-delay: 0s
              transition-duration: 200ms
              transition-property: all
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
              transform: translate3d(0px, 20px, 0px) scale(1.1)
              a
                color: $white
                text-decoration: none
                @include rems('padding-right',3.8)
                @include rems('padding-top',0.7)
                @include rems('padding-bottom',0.7)
                background: url("images/play.png") right no-repeat
          &:hover
            @media #{$phone}
              background: none
              @include opacity(1)
            .highlightBox
              background: $aqua
              @include opacity(.9)
              margin-top: -10%
              transition-delay: 0s
              transition-duration: 200ms
              transition-property: all
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
              h2
                margin-top: -10%
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                @include rems('line-height',3.6)
              .overlay
                display: block
                opacity: 1
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                transform: translate3d(0px, 0px, 0px) scale(1)
                a
                  text-decoration: none
                  display: inline-block
                  margin-top: 5%
                  color: $white
        .col-full-height
          display: table
          width: 100%
          height: 100%
          background-size: 100% auto !important
          @media (max-width: 670px)
            background-size: auto 100% !important
          @media #{$phone}
            display: block
            background-size: cover !important

        .row
          position: relative
          float: left
          @include rowMachine(1,0)
          &:nth-child(1)
            @include rems('height',20)
            margin-bottom: 1%
            @media #{$phone}
              width: 100%
          .col
            position: relative
            float: left
            @include rowMachine(2,1%)
            @include rems('height',20)
          .col-full
            @include rowMachine(1,1%)
            @include rems('height',20)
          &:nth-child(2)
            @media #{$phone}
              width: 100%
    .learnUse
      h2
        @include font-size(3,3)
      .one
        .col-full-height
          .hoverBoxContainerOne
            background: $trans-black
            height: 100%
      .rowTwo
        .row
          .two
            .hoverBoxContainerTwo
              height: 200px
              background: $trans-black
          .three
            .hoverBoxContainerThree
              height: 200px
              background: $trans-black
          .four
            .hoverBoxContainerFour
              height: 200px
              background: $trans-black

    .button
      display: block
      float: left
      background: none
      border: 2px solid #fff
      color: #fff
      text-decoration: none
      text-transform: lowercase
      @include rems(padding, 1.5, 2.5)
      -webkit-transition: 0.4s all ease
      transition: 0.4s all ease
      @include box
      &:hover
        background: rgba(255, 255, 255, 0.25)
        -webkit-transition: 0.4s all ease
        transition: 0.4s all ease
      @media #{$phone}
      float: none
      width: 100%
      margin: 0 10%
      text-align: center
      .desktop
        @include phone-hide
      .mobile
        display: none
        @media #{$phone}
        display: block

.ie9
  .module-21
    .container
      .thumbs
        li
          .hoverBoxContainerTwo
            a
              background-position: 100% -1px !important
