.module-4
  .container
    position: relative
    img
      display: block
      width: 100%
      height: auto
      max-height: inherit
    .objectsContainer
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      .objects
        display: table
        height: 100%
        position: relative
        width: 100%
      h2
        color: $white
        text-align: center
        position: absolute
        top: 13.74%
        width: 100%
        @include font-size(3.6, 3.6)
        padding: 0 13.5%
        &.ie-control
          top: 100%
        @media #{$phone}
          @include font-size(3.5, 3.5)
          top: 6%
        @media #{$phone-lower}
          top: 2%
      .locationSearchHolder
        position: relative
        width: 100%
        display: block
        text-align: center
        margin-top: 4.112%
        .locationSearch
          position: relative
          text-align: center
          @media #{$phone}
            @include rems('padding-left',.2)
            @include rems('padding-right',.2)
            @include rems('padding-top',0.2)
            @include rems('padding-bottom',0.2)
          .button
            @include font-size(1.8, 2.8)
            display: inline-block
            -webkit-appearance: none
            -webkit-border-radius: 0
            border-radius: 0
            @media #{$tablet-portrait}
              @include font-size(1.8,3)
            @media #{$tablet-landscape}
              @include font-size(1.8,3.3)
            @media #{$phone}
              @include font-size(1.7, 3)
              @include rems('padding-right',1)
              @include rems('padding-left',1)
              font-weight: normal
          .formControl
            display: inline-block
            vertical-align: middle
            background: $white
            width: 49.2%
            @media #{$phone}
              width: 78%
              @include rems('padding-left',1)
              @include rems('padding-right',1)
            @include rems('padding-left',1.6)
            @include rems('padding-right',1.6)
            @include rems('padding-top',0.8)
            @include rems('padding-bottom',0.8)
            //@include rems('margin-right',0.3)
            input
              //@include rems('height',2.8)
              height: 100%
              display: block
              width: 100%
              @include font-size(1.6, 2.6)
              font-family: 'HPSimplifiedLight', sans-serif




