.module-10
  .container
    .searchBoxContainer
      h2
        @include font-size(3.6,3.6)
        text-align: center
        //@include rems('margin-bottom',3.6)
      .locationSearchHolder
        .locationSearch
          @media #{$tablet-portrait}
            @include rems('padding-left',1)
          .column
            .button
              -webkit-appearance: none
              -webkit-border-radius: 0
              border-radius: 0
            @include rowMachine(4,0)
            float: left
            @media #{$phone}
              @include rowMachine(3,0)
            &:nth-child(1)
              padding-top: 5px
              padding-bottom: 5px
              h2
                @include font-size(2.1,2.1)
                @include rems('padding-top',0.8)
                @media #{$tablet-portrait}
                  @include rems('padding-right',0.5)
              width: 17%
              @media #{$phone}
                width: 100%
            &:nth-child(2)
              width: 50%
              @media #{$tablet-portrait}
                width: 45%
              @media #{$phone}
                width: 70%
            &:nth-child(3)
              @include rems('padding-left',1)
              width: 12%
              text-align: center
              @media #{$phone}
                width: 30%
            &:nth-child(4)
              padding-top: 12px
              @include rems('padding-left',1.5)
              width: 21%
              @media #{$tablet-portrait}
                width: 23%
                @include rems('margin-left',2)
              @media #{$phone}
                width: 100%

              .links
                text-align: center
                ul
                  width: 100%
                  display: block
                  li
                    display: inline-block
                    width: auto
                    a
                      font-weight: bold
                      //@include rems('padding-left',1)
                      @include rems('padding-right',1)
                      @include rems('margin-right',1)
                      @include rems('padding-top',0)
                      @include rems('padding-bottom',0)
                      @include font-size(1.7, 1.7)
                      @media #{$phone}
                        @include font-size(1.8, 1.5)
                      text-decoration: none
                      color: $burgundy
                      border-right: 1px solid $burgundy
                      display: block
                      float: left
                    &:first-child
                      a
                        @include rems('padding-left',0)
                    &:last-child
                      a
                        border-right: 0

            .formControl
              display: inline-block
              vertical-align: middle
              width: 100%
              background: $gray_lite
              @include rems('padding-top',0.2)
              //@include rems('padding-left',1)
              //@include rems('padding-right',1)
              //@include rems('padding-top',0.4)
              //@include rems('padding-bottom',0.4)
              input
                @include rems('height',4.3)
                @include rems('padding',1)
                &.field-required
                  border: 2px solid red
                  background-color: #fde7e7
                @media #{$phone}
                  height: 36px
                display: block
                width: 100%
                @include font-size(1.5, 2.4)
                font-family: 'HPSimplifiedLight', sans-serif
                background: $gray_lite
          .button
            @media #{$phone}
              @include rems('padding-top',0.9)
              @include rems('padding-bottom',0.7)