.module-9
  background: url("images/m8-bg-new.png") no-repeat
  width: 100%
  background-size: 100% 100%
  height: 280px
  position: relative
  @include rems('margin-top',3)
  @include rems('margin-bottom',1)
  @media #{$phone}
    margin-top: 0
    height: 100%
  .row

    @include rowMachine(2,0.5%)
    margin-bottom: 0!important
    float: left
    @media #{$phone}
      @include rowMachine(1, 0)
      text-align: center
      &:nth-child(3)
        height: 100px

    h2
      color: $white
      @include font-size(3.6,4)
      @include rems('margin-top',5)
      @include rems('margin-bottom',3)
      @include rems('padding-left',3)
      @media #{$phone}
        margin-bottom: 0
        @include rems('padding-left',0)
        @include font-size(6.6,6.6)
        color: $white
        @include rems('margin-top',3)
        @include font-size(5,5)
    .foot-a
      @include rems('padding-left',3)
      @media #{$phone}
        @include rems('padding-left',0)
    a
      background-color: $purple
      padding: 12px 30px
      text-decoration: none
      color: $white

    a:hover
      background-color: $trans-purple
      padding: 12px 30px
      text-decoration: none
      color: $white
    .foot-a
      height: 40px
      @media #{$phone}
        @include rems('padding-top',3)
    img
      position: absolute
      top: -10%
      left: 58%
      @media #{$phone}
        position: relative
        left: 0%
        top: 0
