.module-2
  +rems('margin-bottom',4.4)
  @media #{$tablet-portrait}
    +rems('margin-bottom',2.4)
  @media #{$tablet-landscape}
    +rems('margin-bottom',2.4)
  @media #{$phone}
    margin-bottom: 0
  .container
    ul
      margin: 0
      padding: 0
      display: block
      width: 100%
      position: relative
      li
        float: left
        display: table
        @include rowMachine(2, 0.5%)
        @media #{$phone}
          &:nth-child(3n+1)
            clear: none
        @media #{$phone}
          @include rowMachine(1, 0)
    .videoHolder
      .item
        position: relative
        .imageHolder
          position: relative
          display: block
          .module-2-mobile-video-1
            position: absolute
            width: 100%
            height: 100%
            background-color: transparent
          img
            width: 100%
            display: block
          .mobileVideoPlay
            position: absolute
            height: 100%
            display: block
            top: 0
            left: 0
            right: 0
            bottom: 0
            text-align: center
            img
              display: inline-block
              max-width: 100%
              width: auto !important
              @include rems('max-height',10.6)
        .fitHolder
          @media #{$phone}
            z-index: 1 !important
          display: block
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          height: 100%
          .contentContainer
            position: relative
            height: 100%
            a
              display: block
              height: 100%
              cursor: pointer
              @media #{$phone}
                position: absolute
                width: 100%
            .highlightBox
              @include rems('padding',2)
              margin-top: 23.5%
              position: relative
              transition-delay: 0s
              transition-duration: 200ms
              transition-property: all
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
              h2
                color: $white
                text-align: center
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                @include font-size(2.7, 2.2)
              /*.overlay
                left: 0
                position: absolute
                display: block
                color: $white
                text-align: center
                width: 100%
                opacity: 0
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                transform: translate3d(0px, 20px, 0px) scale(1.1)
                a
                  color: $white
                  text-decoration: none
                  @include rems('padding-right',3.8)
                  @include rems('padding-top',2.3)
                  //@include rems('padding-bottom',2.3)
                  background-image: url("images/play.png")
                  background-repeat: no-repeat
                  background-position: right bottom*/

              .overlay
                left: 0
                position: absolute
                display: block
                color: $white
                text-align: center
                width: 100%
                opacity: 0
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                transform: translate3d(0px, 20px, 0px) scale(1.1)
                a
                  color: $white
                  text-decoration: none
                  @include rems('padding-right',3.8)
                  @include rems('padding-top',0.7)
                  @include rems('padding-bottom',0.7)
                  background: url("images/play.png") right no-repeat
            &:hover
              @media #{$phone}
                background: none
                @include opacity(1)
              .highlightBox
                background: $aqua
                @include opacity(.9)
                margin-top: -10%
                transition-delay: 0s
                transition-duration: 200ms
                transition-property: all
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                h2
                  margin-top: -16%
                  transition-delay: 0s
                  transition-duration: 200ms
                  transition-property: all
                  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                  @include rems('line-height',3.6)
                .overlay
                  display: block
                  opacity: 1
                  transition-delay: 0s
                  transition-duration: 200ms
                  transition-property: all
                  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
                  transform: translate3d(0px, 0px, 0px) scale(1)
                  a
                    text-decoration: none
                    display: inline-block
                    margin-top: 5%
                    color: $white
        .mobileContentContainer
          position: relative
          z-index: 2 !important
          display: none // only for mobile
          text-align: center
          background: $white
          @include rems('padding-top',1.5)
          @include rems('padding-bottom',1.5)
          // for mobile
          @media #{$phone}
            @include rowMachine(1, 0)
            display: block
            @include rems('padding-bottom',4)
            h2
              @include font-size(3.2, 4)
              color: $black
            h4
              @include font-size(2.5, 2.8)
            a
              text-decoration: none
              color: $burgundy
              @include font-size(2.2, 1.8)
              @include rems('padding-top',2)
              font-family: 'HPSimplified', sans-serif
#possibility-overlay
  &.instant-slide
    -webkit-transition: 0.001s ease !important
    transition: 0.001s ease !important

.ie9
  .module-2
    .thumb-links
      margin-top: 2.5rem
