.specDetails
  border-bottom: solid 1px $lite_grey
  h2
    @media #{$tablet-portrait}
      @include rems('margin-left',2%)
  @media #{$phone}
    margin-top: 10px !important
  table
    width: 100%
    border-top: solid 1px $lite_grey
    @include rems('margin-bottom',5)

    @media #{$phone}
      @include rems('margin-bottom',4.4)
    tbody
      @include rems('padding-top',5)
      display: block
    td
      color: $dark_grey
      text-align: left
      font-family: 'HPSimplifiedLight', sans-serif
      @include rems(padding, 1, 1, 1, 3)
    td:first-child
      color: $black
    .sizeSpacing
      width: 23%
      @media #{$phone}
        width: 36.5%