// giving a padding top in all sub modules
.module-DA14-sub-2, .module-DA14-sub-3, .module-DA14-sub-4, .module-DA14-sub-5,.module-DA14-sub-6,.module-DA14-sub-7
  @include rems('padding-top',3)

// sub-module1
.module-DA14-sub-1
  .container
    ul
      margin: 0
      padding: 0
      display: block
      width: 100%
      position: relative
      li
        //float: left
        //display: table
        //@include rowMachine(2,1.5%)
        @media #{$phone}
          @include rowMachine(1,0%)
          display: block !important

      .features-content
        h2,h4
          @include rems('margin',1,0)
          text-align: justify
          @media #{$phone}
            text-align: center
      .image-holder
        @include rems('padding-left',3)
        @media #{$phone}
          @include rems('padding',0)
        img
          display: block
          margin: 0 auto

// sub-module2
.module-DA14-sub-2
  .container
    .videoContent
      width: 100%
      position: relative
      float: left
      .row
        float: left
        @include rowMachine(2, 0.5%)
        margin-bottom: 0px !important
        @media #{$phone}
          @include rowMachine(1, 0)
        .video
          width: 100%
          @include rems('height',30)
          background: $gray
        .videoLink
          width: 100%
          float: left
          .button
            @include rems('margin-top',1)

        .item:last-child
          margin-bottom: 0 !important
        .item
          @include rems('margin-bottom',2)
          .text
            @include rems('padding-right',3)
          .placeHolder
            @include rems('width',10)
            @include rems('height',15)
            background: $gray_0
          p
            @include rems('padding-left',1)
            @include rems('padding-right',1)
            @include rems('padding-top',0)
            @include rems('padding-bottom',0)

// sub-module3
.module-DA14-sub-3
  .container
    .banner
      height: 300px


// sub-module4
.module-DA14-sub-4
  .container
    .text-content
      h2,p
        margin: 10px 0
      @media #{$phone}
        text-align: center
    .getSprout-link
      width: 100%
      float: left
      .button
        @include rems('margin-top',1)

// sub-module5
.module-DA14-sub-5
  .container
    .banner
      height: 200px


// sub-module6
.module-DA14-sub-6
  .container
    .text-content
      h2,p
        margin: 10px 0
      @media #{$phone}
        text-align: center

// sub-module7
.module-DA14-sub-7
  .container
    .row
      @include rowMachine(2,.5%)
      float: left
      @media #{$phone}
        width: 100%
        @include rems('padding',1)
        text-align: center
      &:nth-child(2)
        @include rems('height', 40)
        background: $gray_0
      .item:last-child
        margin-top: 0 !important
      .item
        @include rems('margin-bottom',2)
        .text
          @include rems('padding-left',3)
        p
          @include rems('padding-left',0)
          @include rems('padding-right',1)
          @include rems('padding-top',1)
          @include rems('padding-bottom',0)
        .placeHolder
          @include rems('width',10)
          @include rems('height',12)
          background: $gray_0

  //Inside page footer
.inside-footer
  @include rems('padding-top',3)
  .footer-wrap
    background: $gray_0
  .container
    .heading
      @include rems('padding-top',3)
      text-align: center
      color: #FFF
    .row
      @media #{$phone}
        @include rowMachine(1,0%)
      @include rowMachine(2,0.5%)
      display: inline-block
      margin-bottom: 0
      .footer-inside-content
        @include rems('padding-left',3)
        @include rems('padding-top',2)
        color: #FFF
        .rsvp
          .rsvp-button
            padding-left: 30px
            padding-right: 30px
      .half-width
        height: 100px


