.contactsIcon1
  background: url("images/icon-mapContact.png") no-repeat
  height: 45px
  width: 45px
  display: inline-block
.contactsIcon2
  background: url("images/icon-mapContact.png") no-repeat -56px
  height: 45px
  width: 51px
  display: inline-block
.contactsIcon3
  background: url("images/icon-mapContact.png") no-repeat -112px
  height: 45px
  width: 58px
  display: inline-block


.module-23
  .container
    background: $liter_grey
    margin-bottom: 15px
    .contactsWrapper
      padding: 1% 0%
      height: 235px
      .row
        padding: 0
        margin-top: 10px
        @media #{$phone}
          border-right: 0
          border-bottom: 1px solid $dark_grey
        height: 190px
        border-right: 1px solid $dark_grey
        &:last-child
          border-right: 0
        @include rowMachine(3,0)
        float: left
        margin-bottom: 0
        @media #{$phone}
          @include rowMachine(1,0)
          float: left
          margin-right: 0
        .row-child
          padding: 7px 0
          h2
            @include font-size(2.4,2.4)
          text-align: center
          @include rowMachine(1,0)
          float: left
          margin-bottom: 0
          .anchor
            padding: 5px 0
          p
            padding-bottom: 0
            a
              text-decoration: none
              color: #666
              font-weight: bold
