.module-15
  .container
    @media #{$phone}
      display: block !important
      width: 100%
    .tabsNavigationHolder
      @media #{$phone}
        display: flex
        flex-direction: row
        li
          @media #{$phone}
            text-align: center
            flex-grow: 1
            justify-content: center
          a
            @include font-size(2.1,2.1)
            @media #{$phone}
              @include rems('padding-left',0)
              @include rems('padding-right',0)
              @include rems('margin-left',0)
              @include rems('margin-right',0)
            @media #{$phone}
              display: block
            @media #{$phone-lower}
              +rems('width',11)
    .tabs-panels
      @include rems('margin-bottom',8)
      @media #{$phone}
        li
          @include rems('padding',0,1)
      .slide
        @media #{$tablet-portrait}
          @include rems('padding',0,1,0,2)
        @media #{$phone}
          display: block
      .topHeading
        text-align: center !important
        font-size: 36px!important
        line-height: 36px!important
        padding: 0 12% !important
        margin-top: 40px !important
        color: $black
        @media #{$phone}
          padding: 0 !important
      .intuitiveDesign
        h2
          text-align: left
          padding: 0
          color: $black
          @include font-size(3,3)
          @include rems('margin-top',12)
          @media #{$phone}
            @include rems('margin-bottom',1)
        p
          padding: 15px 0
        .template_1
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              position: relative
              margin-right: 0 !important
              &:nth-child(1)
              &:nth-child(2)
                margin-top: 0 !important
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                .imageWrapper
                  margin-top: 0!important
            @include rowMachine(2,1%)
            float: left
            margin-bottom: 0 !important
            margin-right: 0!important
            @include rems('margin-top',5.6)
            @media #{$phone}
              @include rems('margin-top',3)
            &:nth-child(2)
              @media #{$desktop}
                float: left
              h2
                @include rems('margin-top',4)
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
              .imageWrapper
                @include rems('margin-top',2.5)
            &:nth-child(1)
              @media #{$desktop}
                float: right
              img
                display: table
                display: table
                padding-top: 1px
        .template_2
          padding-bottom: 4rem
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              margin-right: 0!important
              h2
                @include rems('margin-top',2)
            @include rowMachine(2,1%)
            margin-bottom: 0 !important
            float: left
            margin-bottom: 0
            &:nth-child(1)

            &:nth-child(2)
              @media #{$phone}
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                ul
                  margin-bottom: 10px!important
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
                margin-bottom: 25px
              .imageWrapper
                @include rems('margin-top',2.5)
        .template_3
          .row
            @include rowMachine(2,1%)
            margin-bottom: 0 !important
            float: left
            margin-bottom: 0
            @media #{$phone}
              margin-bottom: 5% !important
            &:nth-child(2)
              @media #{$phone}
                width: 100%
                text-align: center
                h2
                  @include rems('margin-top',2)
                  text-align: center
                p
                  padding: 2% 16%  !important
              @media #{$desktop}
                width: 30%
                float: left
                .contentWrapper
                  @media #{$desktop}
                    left: 34%
                    h2
                      @include rems('margin-top',1)
                    position: relative
                    top: 35px
                    p
                      @include rems('padding-right',3.5)
            &:nth-child(1)
              @media #{$phone}
                width: 100%
                margin-right: 0!important
              @media #{$desktop}
                width: 69%
                float: right

      .revolutionaryInnovation
        h2
          text-align: left
          padding: 0
          color: $black
          @include font-size(3,3)
          @include rems('margin-top',12)
          @media #{$phone}
            @include rems('margin-bottom',1)
        .template_1
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              position: relative
              margin-right: 0 !important
              &:nth-child(1)
              &:nth-child(2)
                margin-top: 0 !important
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                .imageWrapper
                  margin-top: 0!important
            @include rowMachine(2,1%)
            float: left
            margin-bottom: 0 !important
            @include rems('margin-top',5.6)
            &:nth-child(2)
              @media #{$desktop}
                float: left
              h2
                @include rems('margin-top',4)
                @media #{$phone}
                  @include rems('margin-top',2)
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
              .imageWrapper
                @include rems('margin-top',2.5)
            &:nth-child(1)
              @media #{$desktop}
                float: right
              display: table
              img
                display: table
                display: table
                padding-top: 1px
        .template_2
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              margin-right: 0!important
              h2
                @include rems('margin-top',2)
            @include rowMachine(2,1%)
            margin-bottom: 0 !important
            float: left
            margin-bottom: 0
            &:nth-child(1)

            &:nth-child(2)
              @media #{$phone}
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                ul
                  margin-bottom: 10px!important
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
                margin-bottom: 25px
              .imageWrapper
                @include rems('margin-top',2.5)
        .template_3
          .row
            @include rowMachine(2,1%)
            margin-bottom: 0 !important
            float: left
            margin-bottom: 0
            @media #{$phone}
              margin-bottom: 5% !important
            &:nth-child(2)
              @media #{$phone}
                width: 100%
                text-align: center
                h2
                  @include rems('margin-top',2)
                  text-align: center
                p
                  padding: 2% 16%  !important
              @media #{$desktop}
                width: 30%
                float: left
                .contentWrapper
                  @media #{$desktop}
                    left: 34%
                    h2
                      @include rems('margin-top',1)
                    position: relative
                    top: 35px
                    p
                      @include rems('padding-right',3.5)
            &:nth-child(1)
              @media #{$phone}
                width: 100%
                margin-right: 0!important
              @media #{$desktop}
                width: 69%
                float: right
      .plentyOfPower
        .template_1
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              margin-right: 0!important
              h2
                @include rems('margin-top',2)
            @include rowMachine(2,1%)
            @include rems('margin-top',5.6)
            float: left
            margin-bottom: 0
            &:nth-child(1)

            &:nth-child(2)
              @media #{$phone}
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                ul
                  margin-bottom: 10px!important
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
                margin-bottom: 25px
              .imageWrapper
                @include rems('margin-top',2.5)
        .template_2
          border-bottom: 1px solid $lite_grey
          .row
            @media #{$phone}
              @include rowMachine(1,0)
              margin-bottom: 5% !important
              position: relative
              margin-right: 0 !important
              &:nth-child(1)
              &:nth-child(2)
                margin-top: 0 !important
                text-align: center
                h2
                  text-align: center
                p
                  padding: 2% 10%  !important
                .imageWrapper
                  margin-top: 0!important
            @include rowMachine(2,1%)
            float: left
            margin-bottom: 0 !important
            @include rems('margin-top',5.6)
            &:nth-child(2)
              @media #{$desktop}
                float: left
              h2
                @include rems('margin-top',4)
              p
                padding: 15px 0
              ul
                li
                  padding: 8px 5px
              .imageWrapper
                @include rems('margin-top',2.5)
            &:nth-child(1)
              @media #{$desktop}
                float: right
              display: table
              img
                display: table
                display: table
                padding-top: 1px

.ie9
  .module-15
    .intuitiveDesign
      .template_1
        .row
          width: 47.5% !important
        img
          display: inline-block !important
    .revolutionaryInnovation
      .template_1
        .row
          width: 47.5% !important
        img
          display: inline-block !important
    .plentyOfPower
      .template_2
        .row
          width: 47.5% !important
        img
          display: inline-block !important 