.module-da_9-ma_9
  .container
    .thumbsContainer
      .thumbsHolder
        display: block
        width: 100%
        .col
          @include rowMachine(3,.5%)
          .nested
            display: block
            position: relative
            .full-width
              @include rowMachine(1,1%)
              display: inline-block
              //background: $gray
              .thumbnail
                display: block
                width: 100%
                img
                  width: 100%
                  max-width: 100%
                  display: block
              .details
                width: 100%

