.module-1_5
  @include rems('margin-top',-3)
  z-index: 2
  border-bottom: 0
  @media #{$phone}
    @include rems('mmargin-top',-2)
    border-bottom: 1px solid #b9b8bb
  //background-position: center !important
  .arrowHolder
    width: 100%
    background: url("images/arrow_down.png") center top no-repeat
    background-size: auto 100%
    @include rems('height',3)
    @media #{$phone}
      @include rems('height',2)
  .container
    background: #ffffff
    //@include rems('padding-top',5)
    @include rems('padding-top',2)
    @include rems('padding-bottom',2)
    @include rems('padding-left',2)
    @include rems('padding-right',2)
    text-align: center
    h2
      @include font-size(3.5, 4)
      color: $black

