.module-ksp-features
  &.parallax_wrap
    @include rems('height',83)
    //@include rems('margin-bottom',5)
    position: relative
    @media #{$tablet-portrait}
      //@include rems('height',76.5)
    @media #{$tablet-landscape}
      //@include rems('height',76.5)
    @media #{$phone}
      height: auto
      @include rems('margin-bottom',1)
    .my-scroll-container
      width: 100%
      .content-control
        @include rems('height',70)
        @media #{$phone}
          height: auto
    .my-scroll-container.skrollable-between
      top: 8.5rem
    .my-scroll-container.skrollable-after
      bottom: 0
    &.active
      @include rems('height',210)
  .container
    @media #{$phone}
      display: block !important
      h4.kspTitle
        text-align: center
        @include rems('padding-bottom',2)
        @include rems('padding-top',2)
        @include font-size(2.7, 3)
        color: $black
        width: 100%
        margin: auto
    .tabsNavigationHolder
      @extend .navigation-tabs
      @include rems('margin-top',1)
      @media #{$phone}
        display: none
      a
        @media #{$tablet-portrait}
          @include font-size(2.2, 3)
        @media #{$tablet-landscape}
          @include font-size(2, 3)

    .tabs-panels
      @include rems('margin-top',1)
      @media #{$phone}
        float: none
      .slide
        border-bottom: 1px solid #b9b8bb
        background-color: $white
        @include rems('height',62.2)
        position: absolute
        float: none
        @media #{$phone}
          position: static !important
          display: block !important
          height: auto
          @include rems('margin',0,0,2,0)
          @include rems('padding',0,0,4,0)
          &.s-last
            border-bottom: 0
            padding-bottom: 0
        &.first
          display: block
        //position: absolute
        @media #{$phone}
          display: block !important
        h2.titleHolder
          text-align: center
          @include rems('padding-bottom',2)
          @include rems('padding-top',2)
          @include font-size(4, 4)
          color: $black
          width: 80%
          margin: auto
          h2,h4
            text-align: center
          @media #{$phone}
            width: 95%
        .img-right
          .product
            float: right
            width: 47%
            //background-image: url("images/m3-1.jpg")
            //background-repeat: no-repeat
            //background-position: center top
            //background-size: 89% auto
            //@include rems('width',54.4)
            //@include rems('height',54.8)
            @include rems('margin-right',3)
            img
              max-width: 100%
              height: auto
            @media #{$tablet-portrait}
              width: 48%
            @media #{$tablet-landscape}
              width: 48%
            @media #{$phone}
              float: none
              //background-size: 70% auto
              //@include rems('height',41)
              @include rems('margin-right',0)
              width: 90%
              text-align: center
              //background-position: 17% top
          .content
            position: absolute
            top: 30%
            left: 0
            @include rems('width',40)
            h3
              @include font-size(2.7, 3)
              color: $black
            a
              display: inline-block
              text-decoration: none
              color: $burgundy
              @include font-size(1.8, 1.5)
              @include rems('padding-top',2)
              font-family: 'HPSimplified', sans-serif
              @media #{$phone}
                @include font-size(2.2, 1.8)
                @include rems('padding-top',2)
            li
              @include rems('padding',0,0,2,3)
            @media #{$tablet-portrait}
              width: 45%
              margin-left: 2%
            @media #{$tablet-landscape}
              width: 45%
              margin-left: 2%
            @media #{$phone}
              position: static
              width: auto
              text-align: center
              @include rems('padding',2)
              p, ul
                display: none
        .img-left
          .product
            float: left
            width: 45%
            //background-image: url("images/m3-2.jpg")
            //background-repeat: no-repeat
            //background-position: center top
            //@include rems('width',51.8)
            //@include rems('height',50.1)
            @include rems('margin-right',3)
            //position: absolute
            //bottom: 0.1%
            @media #{$tablet-portrait}
              @include rems('margin-left',2)
            @media #{$tablet-landscape}
              @include rems('margin-left',2)
            img
              max-width: 100%
              height: auto
            @media #{$phone}
              float: none
              //background-size: 70% auto
              //@include rems('height',39)
              @include rems('margin-right',0)
              @include rems('margin-bottom',2)
              //background-position: 32% top
              width: 90%
              text-align: center
          .content
            position: absolute
            right: 0
            top: 30%
            width: 50%
            @media #{$tablet-portrait}
              width: 45%
              margin-right: 2%
            //@include rems('width',40)
            h3
              @include font-size(2.7, 3)
              color: $black
            a
              display: inline-block
              text-decoration: none
              color: $burgundy
              @include font-size(1.8, 1.5)
              @include rems('padding-top',2)
              font-family: 'HPSimplified', sans-serif
              @media #{$tablet-portrait}
                @include font-size(2, 1.5)
              @media #{$phone}
                @include font-size(2.2, 1.8)
                @include rems('padding-top',2)
            li
              @include rems('padding',0,0,2,3)
            @media #{$phone}
              position: static
              width: auto
              text-align: center
              @include rems('padding',0,2)
              p, ul
                display: none
          .static-image
            display: block
            background-image: url("images/intel.png")
            background-repeat: no-repeat
            background-position: center top
            height: 73px
            width: 385px
            position: absolute
            right: 0
            bottom: 8% !important
            @media #{$phone}
              display: none
            @media #{$tablet-portrait}
              right: 2%
              bottom: 0
            @media #{$tablet-landscape}
              right: 2%
        .videoContent
          width: 100%
          position: relative
          float: left
          .row
            float: left
            @include rowMachine(2, 0.5%)
            margin-bottom: 0px !important
            @media #{$phone}
              @include rowMachine(1, 0)
            .video
              width: 100%
              @include rems('height',30)
              background: $gray
            .videoLink
              width: 100%
              float: left
              .button
                @include rems('margin-top',1)

            .item:last-child
              margin-bottom: 0 !important
            .item
              @include rems('margin-bottom',2)
              .text
                @include rems('padding-right',3)
              .placeHolder
                @include rems('width',10)
                @include rems('height',15)
                background: $gray_0
              p
                @include rems('padding-left',1)
                @include rems('padding-right',1)
                @include rems('padding-top',0)
                @include rems('padding-bottom',0)
.parallax-after
  &.active
    position: fixed
  &.back-state
    position: relative
  @media #{$tablet-portrait}
    margin-top: -50px
  @media #{$tablet-landscape}
    margin-top: -70px
  @media #{$phone}
    margin-top: 0