header
  //position: fixed
  width: 100%
  //z-index: 999
  .sproutNavigationContent
    //height: 82px !important
    //+rems('height',8.2)
    background: url("images/navigation-background.jpg") center !important
    background-size: auto 100%
    position: relative
    //float: left
    width: 100%
    z-index: 2999 !important
    +opacity(.9)
    &.fixed
      position: fixed
      top: 0
      z-index: 999
    @media #{$phone}
      overflow: visible
    .sproutNavigation
      float: left
      width: 100%
      position: relative
      +rems('padding',1.9,0)
      .navigationToggle
        display: block
        list-style: none
        float: left
        +rems('height',4.4)
        .navItem
          display: inline-block
        .logo
          +rems('height',4.4)
          +rems('width',15)
          @media #{$phone}
            +rems('height',3)
            +rems('width',10.2)
            +rems('margin',.7,0)
          background: url("images/sprout-logo.png")
          background-size: 100% auto
        .buyNow
          +rems('height',4.4)
          +rems('width',4.4)
          background: url("images/navigation-cart.png")
          background-size: 100% auto
          a
            float: left
            width: 100%
            height: 100%
            cursor: pointer

        .mobile
          .mobileTrigger
            display: inline-table
            cursor: pointer
            a
              @include font-size(3, 3)
              text-decoration: none
              color: $white
              display: inline-block
              vertical-align: middle
            .arrow
              display: inline-block
              +rems('width',3)
              +rems('margin-left',1)
              height: 100%
              vertical-align: middle
              &.down
                background: url("images/navigation-arrow-down.png") center no-repeat
              &.up
                background: url("images/navigation-arrow-up.png") center no-repeat
      @media #{$phone}
        text-align: center
        .navigationToggle
          display: table
          width: 100%
          position: relative
          .logo
            display: block
            position: absolute
            +rems('left',1)
          .mobile
            display: table-cell
            vertical-align: middle
          .buyNow
            position: absolute
            display: block
            +rems('right',1)

      .navigation
        float: right
        .navItem
          display: inline-block
          a
            display: block
            text-decoration: none
            color: $white
            @include font-size(1.8, 1.8)
            font-family: 'HPSimplified', sans-serif
            +rems('padding',1.3,.7)
            &:hover
              color: $purple
          &.getSprout
            a
              background: $purple
              +rems('padding',1.3,1.7)
              &:hover
                color: $white
          &.current-menu-item
            a
              color: $purple

        @media #{$phone}
          display: none
          position: absolute
          float: inherit
          top: 100%
          width: 100%
          .navItem
            display: block
            width: 100%
            a
              +rems('padding',2.3,.7)
              @include font-size(2.4, 2.4)
              font-family: 'HPSimplifiedLight', sans-serif
              background: rgba(0,0,0,.8)
              border-top: 1px solid rgba(255,255,255,0.5)
              &:hover
                background: $purple
                color: $white
            &.getSprout
              a
                +rems('padding',2.3,.7)
                @include font-size(2.4, 2.4)
                font-family: 'HPSimplifiedLight', sans-serif
                background: rgba(0,0,0,.8)
                &:hover
                  background: $purple
                  color: $white
          &:first-child
            a
              border-top: 0



.header
  .hf_top_menu
    .level2
      z-index: 10000